/*************in generic.css***************/
/*************in generic.css***************/
/*************in generic.css***************/


/*********************** footer ********************************/

.global_footer_title_color { color:#339900; }

footer{ width:100%; padding:2em 0 0 0}
.footer_nav{ background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(233,233,233,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(233,233,233,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(233,233,233,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(233,233,233,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(233,233,233,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(233,233,233,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9',GradientType=0 );  /* IE6-9 */width:100%; float:left; display:block;
padding-bottom:1em; }
.footer_bottom{background: rgb(126,126,126); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(126,126,126,1) 0%, rgba(136,136,136,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(126,126,126,1)), color-stop(100%,rgba(136,136,136,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(126,126,126,1) 0%,rgba(136,136,136,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(126,126,126,1) 0%,rgba(136,136,136,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(126,126,126,1) 0%,rgba(136,136,136,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(126,126,126,1) 0%,rgba(136,136,136,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e7e7e', endColorstr='#888888',GradientType=0 ); /* IE6-9 */
width:100%; float:left; display:block; }

/*footer .txt1{ line-height:1.5; }*/
.footer_menu h6{ font-weight:normal; margin:0; padding:0.8em 0 0 0;}

footer ul:first-child{padding-top:1.3em; }
footer ul{ margin:0; padding:0 0 0.8em 0;}
footer ul li{ list-style:none;  margin:0; padding:0; }
.footer_inbox{ padding-left:0.5em; height:17em;  }
.mingpaologo2 {display: block; width: 100%; }
.mingpaologo2 img{width:100%; margin-left:0.5em;}
.footer_bottom .span_5_of_12 { margin:0; }
.footer_bottom .span_7_of_12 { margin:0;}
.footer_bottom .addtel{ background:#717171; width:95%;  padding:1em 0% 2em 5%; float:left;}
.footer_bottom .copyR{padding:1em 0% 2em 0%; text-align:right; float:right; width:100%;}
.footer_bottom .webaccess{ background:#EAEAEA; width:96.05%;  padding:1em 2%; float:left; }
/* 20140716 .footer_bottom .webaccess::before{ content:url(../image/webacc.jpg); margin-right:5px; }*/

.footer_menu { display:block; background:none; padding:0;  width:100%; float:left;}
.footer_menu ul{ padding:0; margin:0; line-height:140%;}
.navfooter { width:100%;}
footer .navigation {max-width: none; padding:0;  margin:0; }
footer .navigation h3 { margin:0; padding:0; font-weight:normal;}
footer .navigation li {float:left; width:100%;/*14/100*/ display:inline; font-size:inherit;}
footer .navigation li a {display:inline; float: left;
text-align: left; text-decoration: none; padding: 0.1em 0; background:none; transition: none; }
footer .navigation li a:hover, footer .navigation li a:focus { background:none; }

footer .navigation li a#current { font-weight:bold;}
footer .navigation li:last-child a { border: medium none;}

.footer_nav .span_2_of_12{width: 15.3%;
display: block;
float: left;
margin: 1% 0 1% 1.25%;}
.footer_nav .navigation1 .span_2_of_12{border-left:#CCC 1px dashed;}

.full-footer {cursor: pointer; width:82%; right:0%; margin-top:1.5em; position:absolute; text-align:center; border:1px dashed #CCC; background:#F4FFEC;  }
footer .navigation1 { display: none;  position:inherit; z-index:9999; margin-top:40px; }

.dotline_horizontal_top{ border-top:#CCC 1px dotted; }
.dotline_horizontal_down{ border-bottom:#CCC 1px dotted; }
.dotline_vertical_left{ /**border-left:#CCC 1px dashed;**/ }
.dotline_vertical_right{ border-right:#CCC 1px dashed; }
footer .slide-trigger span {display: none; margin: 0; padding:0.6em 3%; text-align:left;}
footer .transform-class {display:inline-block;transform:rotateX(180deg) !important;}

@media only screen and (min-width : 10em) and (max-width: 40em) {
.full-footer {display:none;}
footer .navigation1 { display: block; margin-top:0; }

}



@media only screen and (min-width : 10em) and (max-width: 40.009em) {

footer{ width:100%; }
footer .col {display: block; float: left; margin:0%;}
.footer_nav{  padding-bottom: 0; background:none}
footer .footer_menu{ background:none; margin:0; padding:0; width:100%;}
.footer_menu h4{ margin:0; padding:0;   border-bottom:1px #FFF solid;  border-top:none; border-left:none;  width:100%; color:#FFF; font-size:1em;}
.footer_menu h4 span{ margin:0; padding:0; background: url(../images/footer_arrow-square.png) no-repeat right -42px ;}
.footer_menu h4.hover  span{ background: url(../images/footer_arrow-square.png) no-repeat scroll right right 5px;}
.footer_menu h4.active  span{background-position: right 18px;}
.footer_menu .item1{ background:#188073;}
.footer_menu .item2{ background:#188073;}
.footer_menu .item1{ background:#188073;}
.footer_menu .item3{ background:#188073;}
.footer_menu .item4{ background:#188073;}
.footer_menu .item5{ background:#188073;}
.footer_menu .item6{ background:#188073;}
.footer_menu .item7{ background:#188073;}
.footer_menu .item8{ background:#188073;}
.footer_menu .item9{ background:#188073;}
.footer_menu .item10{ background:#188073;}


.navfooter { width:100%;}

footer .slide-trigger span {display: block; margin: 0; padding:0.6em 3%; text-align:left;}
footer .navigation { display: none; }
footer .navigation {background:#FFF; width:100%; float:left; position:inherit; font-weight:bold; }
footer .navigation li { float: none;  width:100%; /* border-right: 1px #ccc dashed;*/ float:left; border-top:none; }
footer .navigation li a { /*border-bottom: 1px  dashed #CCC; border-left: 1px solid #CCC;*/ width:93%; text-align:left; padding:2% 3.5%;  background: #FFF;  transition: background 0.5s ease 0s;}
footer .navigation li a:hover  {/*color:#FFF; background: #339999;*/
background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWRlZGVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 63%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(63%,rgba(255,255,255,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 63%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 63%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 63%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 63%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */}
.footer_menu h6{ display:none!important;}
.footer_menu h6:first-child{padding-top:0;}

footer .navigation li a:fouse {  background:none;}
footer .navigation li:last-child a { /* border-bottom: 1px solid #CCC;border-left: 1px solid #CCC; */ border-bottom:none; }

.footer_bottom{ /* IE6-9 */width:100%; float:left; display:block; background:#909090;}
footer .txt1{ line-height:1.5; }
footer h6{ font-weight:normal; margin:0; padding:0.8em 0 0.4em 0;border-top:#CCC 1px dotted;}
footer h6:first-child{padding-top:1em;}
footer ul:first-child{padding-top:1.3em; }
footer ul{ margin:0; padding:0 0 0.8em 0; }
footer ul li{ list-style:none;  margin:0; padding:0 /*2em 0 0*/ ; display:inline-block; }
.footer_inbox{padding-left:0em; height:inherit; }
.footer_inbox .dotline_vertical_left{ border-left:none;}
.mingpaologo2 {display: block; width: 45%; display:none;}
.mingpaologo2 img{width:100%; margin-left:0.5em;}
.footer_bottom .span_5_of_12 { margin: 0; }
.footer_bottom .span_7_of_12 { margin: 1% 0 1% 1.6%;}
.footer_bottom .addtel{ background:#747474; width:100%;  padding: 2.5em 0 0.5em 0; text-align:center;}
.footer_bottom .copyR{  text-align:center; padding:0.5em 2% 0.5em 2%;}

footer .col, footer .span_2_of_12{ margin:0; padding:0;}
/*footer .txt1{ font-size:95%}*/
footer .mingpaologo2 img {margin-left: 0em;width: 60%;}

.footer_nav .span_2_of_12{ width:100%;margin:0;} 

.dotline_vertical_left{   border-left:none;}

}