/**********************************image_carouse**************************************/
.image_carousel.responsive {width: 100%;padding-left: 0;padding-right: 0;
padding-bottom: 0;margin:0 auto; /*margin-top: -100px;margin-bottom: -10px;*/  }
.image_carousel.caroufredsel_wrapper{ margin:0 auto; width: 100%;}

.image_carousel {padding: 0%; /*padding: 15px 40px;*/ /* 20150320*/ width:calc(100% - 4px ); position: relative; margin:0 2px; background:#fff; }

.image_carousel .caroufredsel_wrapper a {/*display: block;*/ margin:0 auto; width: 100%;}
.image_carousel img {border: 1px solid #ccc; background-color: white; margin: 7px;
/*display: block;float: left;*/ } 
.image_carousel figure{ /*20150602 width:208px;*/  margin:0px;  }
.image_carousel figure img{ width:100%;  margin:0; padding:0; border: 0;}
.image_carousel figcaption{ width:100%; padding:0 5%; max-width:329px;}
.image_carousel figcaption h5{ padding:0.3em 0 ; margin:0;}
.image_carousel .boxSep{ float:left; background:none; border:inherit;/*20150602 margin:0.25em 1em;*/ margin:1px; vertical-align:top; /*20150602 text-align:center;*/ /*20150602*/overflow:hidden; }
.image_carousel .caroufredsel_wrapper{ /*height:175px !important;*/}


.image_carousel a.prev,  .image_carousel a.next{background: url(/static/images/miscellaneous_sprite.png) 0 0 no-repeat transparent;width: 27px;height: 53px;display: block;position: absolute;}

.image_carousel a.prev,  .image_carousel a.next {top: 53px;}
.image_carousel .list_carousel a.prev,  .image_carousel .image_carousel a.next {top: 30px;}
.image_carousel a.next {right: 0; top:30%;}
.image_carousel a.prev {left:0px; top:30%;}
.image_carousel a.prev:hover, .image_carousel a.prev:focus {			background-position: 0px -53px; }
.image_carousel a.prev .image_carousel.disabled { background-position: 0 -100px !important; cursor: default; }
.image_carousel a.next { background-position: -50px 0; }
.image_carousel a.next:hover { background-position: -50px -53px; }
.image_carousel a.next .image_carousel.disabled {background-position: -50px -100px !important; cursor: default; }
.image_carousel a.prev span,  .image_carousel a.next span{display: none;}/**/

.image_carousel div.pagination {text-align: center;height: 15px; margin:0 0 1em 0; }
.image_carousel div.pagination a {background: url(/static/images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;width: 15px;height: 15px;margin: 0 5px 0 0;display: inline-block;}
.image_carousel div.pagination a.selected {background-position: -25px -300px;cursor: default;}
.image_carousel div.pagination a span {display: none;}

.image_carousel figure { position:relative; cursor:pointer; margin:0;}
.image_carousel figure .playicon {background: url(/static/images/miscellaneous_sprite.png) -106px 0px no-repeat transparent; width: 46px;height: 46px;display: block;position: absolute; top:3em; right:0.25em; z-index:999; }

.image_carousel figure .playicon {background: url(/static/images/miscellaneous_sprite.png) -106px 0px no-repeat transparent; width: 46px;height: 46px;display: block;position: absolute; top:2.5em; right:5.125em; z-index:999; }


.album_list{ width:99%; border:1px solid#62A534;
box-shadow:1px solid#62A534; float:left; float:left; }
.album_list h4{ display:block; padding:1% 2%; margin:0; border:2px solid #FFF; color:#62A534; }
.album_list table{ padding:2%;}
.album_list img{padding}

