/***********************************! mingpao style ***********************************/
#bkg_wrapper {width:100%;  clear: both; background:#fcfcfc;}
#bkg_wrapper:after { clear:both; content:""; display:block; height:0; visibility:hidden; }
#outer_wrapper {width:100%;  position: relative; text-align: left; margin:0 auto; clear: both; /*background: url(../images/background2.gif) repeat-y center;*/}
#outer_wrapper:after { clear:both; content:""; display:block; height:0; visibility:hidden; }
#maincontent_container {width: 996px; clear: both; position: relative; background:#FFF;  margin:0 auto;}
#maincontent_container:after { clear:both; content:""; display:block; height:0; visibility:hidden; }
#maincontent{clear: both;width: 100%; /* 1000px / 1250px */max-width: 92.3em; /* 1200px / 13 */margin: 0 auto;/* 20140731 padding: 0px; */ padding: 0px; color: #333;position: relative; background:#F5F5F5; }
#maincontent:after { clear:both; content:""; display:block; height:0; visibility:hidden;}	
.maincontent{clear: both;width: 100%; /* 1000px / 1250px */font-size: 0.8125em; /* 13 / 16 */max-width: 92.3em; /* 1200px / 13 */margin: 0 auto; padding: 1em 0px;color: #333;line-height: 1.5em; position: relative;}

a img:hover {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";       /* IE 8 */ filter: alpha(opacity=90);  /* IE 5-7 */ -moz-opacity: 0.9;          /* Netscape */ -khtml-opacity: 0.9;        /* Safari 1.x */ opacity: 0.9; }

/* self clearing floats */
.group:after,.lastUnit:after {clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.group{*zoom:1;}

.photoresize_H150 {width:208px; height:150px; overflow:hidden; display:table-cell; vertical-align:middle; }
/*
@media only screen and (min-width : 10em) and (max-width: 40em) {

#bkg_wrapper { background-color:#FFF; background-image:none;}
#maincontent_container {width: 100%; clear: both; position:relative; display:block; }
#outer_wrapper {width:100%; position: relative;text-align: left; margin:0 auto;  display:block;}
#maincontent{width:100%; /*min-height: 600px;*//* padding: 0px;}

}*/
/* 600 */
/*
@media only screen and (min-width : 10em) and (max-width: 37.5em) {
	#maincontent_container {width: 100%; }
}
*/
/***********************************! mingpao style ***********************************/

/*ol font */
body { font-family: "Microsoft YaHei" }
.ol_title_font { font-family:"Gill Sans MT Condensed", "impact", "Microsoft YaHei"; }
.txt_15em { font-size:1.5em; }
.color_ol { color:#CA257B;}
.color_white { color:#fff !important; }
.color_666 { color:#666; }
.color_aaa { color:#aaa; }
.line_3em { line-height:3em; }
.line_2em { line-height:2em; }
.line_1_5em { line-height:1.5em; }
.txt_13px { font-size:0.8125em; }
.txt_14px { font-size:0.875em; }
.txt_16px { font-size:18px; }
.txt_20px { font-size:1.25em; }
.txt_20px small{font-size:65%}
ul, ul li {list-style:none; margin:0; padding:0;}

.color_666 a:link, .color_666 a:visited, a.color_666:link, a.color_666:visited, a h4.color_666:visited, a h4.color_666:link { text-decoration:none; }
.color_666 a:hover, .color_666 a:active, a.color_666:hover, a.color_666:active, a h4.color_666:hover, a h4.color_666:active, a h5.color_666:hover, a h5.color_666:active { color:#333 !important; text-decoration:none; }

.color_ol a:link, .color_ol a:visited, a.color_ol:link, a.color_ol:visited,  a h3.color_ol:visited, a h3.color_ol:link { text-decoration:none; }
.color_ol a:hover, .color_ol a:active, a.color_ol:hover, a.color_ol:active, a h3.color_ol:hover, a h3.color_ol:active { color:#DF539C; text-decoration:none; }

.color_white a:link, .color_white a:visited, a.color_white:link, a.color_white:visited,  a h4.color_white:visited, a h4.color_white:link { text-decoration:none; }
.color_white a:hover, .color_white a:active, a.color_white:hover, a.color_white:active, a h4.color_white:hover, a h4.color_white:active, a h5.color_white:hover, a h5.color_white:active { color:#eee !important; text-decoration:none; }

/*ol font */


/***********************************! ol header footer ***********************************/
.ol_top_nav_wrapper { width:100%; height:62px; margin:0;  display:inline; float:left; background:rgba(255,255,255,1);  }
.ol_menu_btn { width:44px; height:44px; background:url(../images/top_btn_menu.png) no-repeat; }
.top_btn_sep { width:1px; height:62px; background:url(../images/top_ver_border.png) repeat-y; float:left; display:block; }
.top_btn_sep2 { width:1px; height:62px; background:url(../images/top_ver_border.png) repeat-y; float:right; display:block; }
.top_btn_wrap { width:62px; height:62px; padding:9px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float:left; }
.top_search_posit { position:relative; }
.top_ol_logo_wrap { width:200px; height:62px; margin:0 auto; display:block; }
.top_soc_media_wrap{ float:right; height:62px; width:200px; display:block; }
.ol_subscribe { width:80%; margin:0 auto; background:#D90000; height:20px; text-align:center; color:#fff; line-height:1.3em; }
.ol_share { width:80%; height:35px; margin:2px auto; padding:0; }
.ol_share ul { margin:0; padding:0; }
.ol_share li { width:35px; margin:0 2px; float:left; list-style:none; }
/* ol header */

/* footer */ 
.ol_footer_wrapper { width:100%; border-top:5px solid #CA2579; background:#fff; float:left; }
.ol_footer_wrapper .ol_footer_col { /*20150528 width:12.16%; */ width:15.6%; margin:0.5%; border-right:1px solid #999; float:left; text-align:left; letter-spacing:0; }
.ol_footer_wrapper .ol_footer_col ul { margin:0; padding:0; }
.ol_footer_wrapper .ol_footer_col li { width:100%;  padding:3px; float:left; }
.ol_footer_wrapper .ol_footer_col li a {color:#333;}

.ol_footer_wrapper .ol_footer_col .subnav { /* 20150602 background: url(../images/bullent_sq_p.gif) no-repeat left 0.5em;*/  padding:4px 0 0 5px; font-size:13px;  }
.no_show_desk { display:none !important; }

/* no content */
.headline2{ width:100%; margin:0 ; float:left; }
.headline2 .nocontent .inontent { clear: both;}
.headline2 .nocontent p { border-bottom: none; padding: 3em 0; text-align: center;}
.headline2 .nocontent .inontent_wrapper {width: 100%; padding-top: 3em; clear: both;}

/*
@media only screen and (min-width : 10em) and (max-width: 40em) {
.ol_top_nav_wrapper { width:80%; height:2.625em; margin:-2.625em 0 0 4em; }
.top_btn_wrap { width:250px; height:2.625em; padding:0; }
.top_btn_sep, .top_btn_sep2, .top_search_posit { display:none; }
.top_soc_media_wrap { display:none; }
.ol_menu_btn { width:155px/*20150518 200px*//*; height:2.625em; background:url(../images/ol_logo_m.png)/*20150518 url(../image/ol_logo.png)*//* no-repeat; float:left; }
.top_ol_logo_wrap { display:none; }

.ol_footer_wrapper .ol_footer_col { width:48%; border-left:1px solid #999; border-right:none; padding-left:0.5em; margin: 0.5em 0; }

.no_show_desk { display:block !important; float:left; line-height: 3em; }
.footer_bottom .addtel{ width:100%; }
.ol_footer_wrapper .ol_footer_col .subnav { font-size:14px; }
}*/
/***********************************! ol header footer ***********************************/

/***********************************! font face ***********************************/

@font-face{font-family:'Gill Sans MT Condensed';src:url(../fonts/gill_sans_mt_condensed_1_.eot);src:url(../fonts/gill-sans-mt-condensed.woff) format('woff'),url(../fonts/gill-sans-mt-condensed.ttf) format('truetype')}

/***********************************! font face ***********************************/

