/**********************************slide_carousel**************************************/
.slide_carousel.responsive {width: 100%;padding-left: 0;padding-right: 0;
padding-bottom: 0;margin:0 auto; /*margin-top: -100px;margin-bottom: -10px;*/  }
.slide_carousel.caroufredsel_wrapper{ margin:0 auto; width: 100%;}

.slide_carousel {padding: 0%; /*padding: 15px 40px;*/ width: 100%; position: relative; margin-bottom:0; }

.slide_carousel .caroufredsel_wrapper a {/*display: block;*/ margin:0 auto; width: 100%;}
.slide_carousel .box_pad {margin:0 0 0 0px;}
.slide_carousel img {border: 1px solid #ccc; background-color: white; margin: 7px;
/*display: block;float: left;*/ } 
.slide_carousel figure{ width:100px; margin:0px; height:75px }
.slide_carousel figure img{ width:auto; height:auto; margin:0; padding:0; border: 0;}
.slide_carousel figcaption{ width:145px; padding:0 0 0 5px; float:left;}
.slide_carousel figcaption h5{ padding: 0 ; margin:0; font-weight:normal; font-size:0.8125em; color:#535353;}
.slide_carousel figcaption h6{ padding: 0 ; margin:0; font-weight:normal; font-size:0.75em; color:#999;}
.slide_carousel .boxSep{ background:none; border:inherit; margin: 0.25em 0.5em; vertical-align:top; float:left; overflow:hidden\9; text-align:center; }
.slide_carousel .caroufredsel_wrapper{ margin-bottom:0;/* height:9.375em !important;*/}


.slide_carousel a.prev,  .slide_carousel a.next{background: url(/static/images/miscellaneous_sprite.png) -105px -106px no-repeat transparent;width: 22px;height: 41px;display: block;position: absolute;}

.slide_carousel a.prev,  .slide_carousel a.next {top: 53px;}
.slide_carousel .list_carousel a.prev,  .slide_carousel .list_carousel a.next {top: 30px;}
.slide_carousel a.play,  .slide_carousel a.pause {top: 185px;left: 50%;margin-left: -22px;z-index: 200;}
.slide_carousel a.next {right:0; top:1.5625em;}
.slide_carousel a.prev {left:6px; top:1.5625em;}
.slide_carousel a.prev:hover, .slide_carousel a.prev:focus {			background-position: -105px -147px; }
.slide_carousel a.prev .slide_carousel.disabled {		background-position: 0 -100px !important; cursor: default; }
.slide_carousel a.next {				background-position: -178px -106px;}
.slide_carousel a.next:hover {			background-position: -178px -147px;}
.slide_carousel a.next .slide_carousel.disabled {		background-position: -50px -100px !important; cursor: default; }
.slide_carousel a.prev span,  .slide_carousel a.next span{display: none;}/**/

.slide_carousel div.pagination {text-align: center;height: 15px; margin:0 0 1em 0; }
.slide_carousel div.pagination a {background: url(/static/images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;width: 15px;height: 15px;margin: 0 5px 0 0;display: inline-block;}
.slide_carousel div.pagination a.selected {background-position: -25px -300px;cursor: default;}
.slide_carousel div.pagination a span {display: none;}


.slide_carousel figure { position:relative; cursor:pointer; margin:0;}
.slide_carousel figure .playicon {background: url(/static/images/miscellaneous_sprite.png) -106px 0px no-repeat transparent; width: 46px;height: 46px;display: block;position: absolute; top:3em; right:0.25em; z-index:999; display:none;}

.slide_carousel figure .playicon {background: url(/static/images/miscellaneous_sprite.png) -106px 0px no-repeat transparent; width: 46px;height: 46px;display: block;position: absolute; top:2.5em; right:5.125em; z-index:999; display:none;}

/***************************resize image*****************************************************************/
/* dan */.ImageDiv{overflow:hidden; border:0px; text-align:center; }
/* dan */.ImageDiv .zoomimg {
	position:relative;
    width: 100%;
    height: 400px;
}
.slideDiv{overflow:hidden; border:0px; text-align:center; display: table-cell; vertical-align: middle; width: inherit; height: inherit; }
.slideDiv .zoomimg {
    width: 100px;
    height: 75px;
}

.ImageDiv img, .slideDiv img {  /*display: block;*/
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
	margin:0 auto;
}

.slide_cap { text-align:left; width:100%; position:absolute; z-index:50; bottom:0; left:0; padding:0.5em; background:#000; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";       /* IE 8 */ filter: alpha(opacity=80);  /* IE 5-7 */ -moz-opacity: 0.8;          /* Netscape */ -khtml-opacity: 0.8;        /* Safari 1.x */ opacity: 0.8;               /* Good browsers */ }

.slide_cap a, a .slide_cap { color:#fff; }
/*

@media only screen and (min-width : 10em) and (max-width: 40em) {
	
	.ImageDiv .zoomimg {
    width: 100%;
    height: 300px;
}
	
}*/


/***************************black slider*****************************************************************/

.album_black { width:100%; float:left; background:#000; padding:10px; }
.ImageWrap_album { width:50%; float:left; }

.carouse_sliderwrap {width:50%; float:left; }

.boxslide_carousel .caroufredsel_wrapper { }

.boxslide_carousel .box_pad { height:350px; width:100%; margin:25px auto; overflow-y:scroll; }

.boxslide_carousel {padding: 0%; /*padding: 15px 40px;*/ width: 100%; position: relative; margin-bottom:0; }

.boxslide_carousel .caroufredsel_wrapper a {display: block; margin:0 auto; width: 100%;}
.boxslide_carousel img {border: 1px solid #ccc; background-color: white; margin: 7px;
/*display: block;float: left;*/ } 
.boxslide_carousel figure{ width:100px; margin:0px;  }
.boxslide_carousel figure img{ /*width:100%*/; margin:0; padding:0; border: 0;}
.boxslide_carousel figcaption{ width:145px; padding:0 0 0 5px; float:left;}
.boxslide_carousel figcaption h5{ padding: 0 ; margin:0; font-weight:normal; font-size:0.8125em; color:#535353;}
.boxslide_carousel figcaption h6{ padding: 0 ; margin:0; font-weight:normal; font-size:0.75em; color:#999;}
.boxslide_carousel .boxSep{ background:none; border:inherit; margin: 1em; vertical-align:top; float:left; overflow:hidden; width:120px; height:120px;}
.boxslide_carousel .caroufredsel_wrapper{ margin-bottom:0;/* height:9.375em !important;*/}


.boxslide_carousel a.prev,  .boxslide_carousel a.next{background: url(/static/images/miscellaneous_sprite.png) -105px -106px no-repeat transparent;width: 22px;height: 41px;display: block;position: absolute;}

.boxslide_carousel a.prev,  .boxslide_carousel a.next {top: 53px;}
.boxslide_carousel .list_carousel a.prev,  .boxslide_carousel .list_carousel a.next {top: 30px;}
.boxslide_carousel a.play,  .boxslide_carousel a.pause {top: 185px;left: 50%;margin-left: -22px;z-index: 200;}
.boxslide_carousel a.next {right:0; top:1.5625em;}
.boxslide_carousel a.prev {left:6px; top:1.5625em;}
.boxslide_carousel a.prev:hover, .boxslide_carousel a.prev:focus {			background-position: -105px -147px; }
.boxslide_carousel a.prev .boxslide_carousel.disabled {		background-position: 0 -100px !important; cursor: default; }
.boxslide_carousel a.next {				background-position: -178px -106px;}
.boxslide_carousel a.next:hover {			background-position: -178px -147px;}
.boxslide_carousel a.next .boxslide_carousel.disabled {		background-position: -50px -100px !important; cursor: default; }
.boxslide_carousel a.prev span,  .boxslide_carousel a.next span{display: none;}/**/

.boxslide_carousel div.pagination {text-align: center;height: 15px; margin:0 0 1em 0; }
.boxslide_carousel div.pagination a {background: url(/static/images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;width: 15px;height: 15px;margin: 0 5px 0 0;display: inline-block;}
.boxslide_carousel div.pagination a.selected {background-position: -25px -300px;cursor: default;}
.boxslide_carousel div.pagination a span {display: none;}


.boxslide_carousel figure { position:relative; cursor:pointer; margin:0;}
.boxslide_carousel figure .playicon {background: url(/static/images/miscellaneous_sprite.png) -106px 0px no-repeat transparent; width: 46px;height: 46px;display: block;position: absolute; top:3em; right:0.25em; z-index:999; display:none;}

.boxslide_carousel figure .playicon {background: url(/static/images/miscellaneous_sprite.png) -106px 0px no-repeat transparent; width: 46px;height: 46px;display: block;position: absolute; top:2.5em; right:5.125em; z-index:999; display:none;}

/*
@media only screen and (min-width : 10em) and (max-width: 40em) {
	.ImageWrap_album { width:100%; float:left; }
	.carouse_sliderwrap {width:100%; float:left; }
	.boxslide_carousel .boxSep{ margin: 0.3em; }
}*/