.toggleHeading {
	animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
     -moz-animation-delay: 0.1s;
       -o-animation-delay: 0.1s;
	   -moz-transition: none !important;
	   display:none;
}

.carousel {margin:0 0 0.75em; background:white;}
.carousel-control {width:auto; width:auto !important; opacity:1;}
.carousel-control .glyphicon-chevron-left {background:url(../images/arrow-prev.png) no-repeat; width:40px; height:60px; width:40px\9 !important; height:60px\9 !important; margin-left:0; margin-left:0\9 !important;}
.carousel-control .glyphicon-chevron-left:before { content:''}
.carousel-control .glyphicon-chevron-right {background:url(../images/arrow-next.png) no-repeat; width:40px; height:60px; width:40px\9 !important; height:60px\9 !important; margin-right:0; margin-right:0\9 !important;}
.carousel-control .glyphicon-chevron-right:before { content:''}

.carousel-caption {
z-index: 500;
position:absolute;
right:0px;
bottom: 0px;
left:0px; left:0\9 !important;
padding: 10px 20px 10px 20px; padding: 10px 20px 10px 20px\9 !important;
background: #000;
background: url(../images/list_banner_title.png) repeat;
width: 100%;
line-height: 1.33;
color: #fff;
text-align:center;
text-shadow: none;
font-weight: bold;
}
/*.carousel-caption h2 {color:#FFF;}*/

/*
@media only screen and (min-width : 10em) and (max-width: 40em) {

	.carousel-control .glyphicon-chevron-left {background-size:100%; width:24px; height:36px; top:40%}
	.carousel-control .glyphicon-chevron-right {background-size:100%; width:24px; height:36px; top:40%}
			
}*/