/* global navigation color code */
#portal_menu ul li:hover, #portal_menu ul li#current,
#portal_menu ul li.iehover{ border-top:4px solid #999;}

/* We apply the link style */
#portal_menu ul li a{color:#666;}

#portal_menu ul li ul li{ background-color:#eee;}

#portal_menu ul li.iehover ul li.iehover{ background-color:#ccc;}

#portal_menu ul li:hover ul li:hover,
#portal_menu ul li.iehover ul li.iehover{ background-color:#ddd;}

/* We style the color of level 2 links */
#portal_menu ul li ul li a{ color:#666;}

@media only screen and (min-width : 10em) and (max-width: 40em) {
	#portal_menu ul li a{color:#FFFFFF;}
	#portal_menu ul li:hover, #portal_menu ul li:focus, #portal_menu ul li#current, #portal_menu ul li.iehover { border-bottom:4px solid #eee; }

	.js-ready #portal_menu { background:#666; }
}

#subscribe_menu ul { /* 20141126 */ background:#eee;  }

#subscribe_menu ul li a{
    color:#666666;
}

#subscribe_menu ul li ul li{ background-color:#EBEBEB;}

/* for IE < 9 we using class .iehover */
#subscribe_menu ul li:hover ul li:hover,
#subscribe_menu ul li.iehover ul li.iehover{ background-color:#E1E1E1;}

/* We style the color of level 2 links */
#subscribe_menu ul li ul li a{ color:#454444;}

/* global navigation icon */
header .block {background: #fff;}

/* other parts in header */
.grey_dot {border-bottom:none;}
.nav-btn { height: 2.625em; background-color:#CA2579; }
.otherinfo {height:4.165em;}
.otherinfo2 {height:0em;}
.otherinfo3 {height:4.165em;}
.dl-menuwrapper button {display: none;}





@media only screen and (min-width : 10em) and (max-width: 40em) {
	.otherinfo {height:0em;}
	.otherinfo2 {height:0em;}
	.otherinfo3 {height:0em;}
}
