.filter-panel {
    position: relative;
    padding: 10px 0;
    border-bottom: #ccc solid 1px;
}

.filter-panel .column {
    display: flex;
    flex-direction: row;
}

.filter-panel .flex-1 {
    flex: 1;
}

.search-filter .reset-btn {
    text-align: right;
}

.filter-tag-list li {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #e2e2e2;
    padding: 4px 7px;
    margin: 0 10px 10px 0;
    min-width: 50px;
    min-height: 30px;
    vertical-align: middle;
    color: #3b3d41;
    font-size: 13px;
}

.filter-tag-list .remove-btn {
    padding-left: 8px;
}

.filter-tag-list .remove-btn a {
    color: #000;
}

.blog-post-sidebar .row { display: block }
		.filter-panel {
			position: relative;
			padding: 10px 0;
			border-bottom: #ccc solid 1px;
		}
		.filter-input-name {
			width: 152px;
			font-size: 14px;
			padding: 0px 3px;
		}
		.icon-filter-name {
			height: 25px;
			margin-top: -2px;
			background-color: #74bac2;
			color: #FFF;
			border: none;
		}
		.filter-location-panel {
    position: relative;
    padding: 10px 0 20px 0;
}
		.filter-location-contents {
			position: relative;
			color: #8e8e8e;
			background-color: #fff;
			padding: 5px;
		}
		ul, ol {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		.filter-checkbox {
    position: relative;
    margin-top: 3px !important;
}
		input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
        margin-top: 4px;
    margin-top: 1px \9;
    line-height: normal;
}
		input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
		
		
	
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
label {
    margin-bottom: 0;
}
label {
    padding-left: 23px;
    font-weight: 500;
    font-size: 15px;
}			

		.filter-left-panel select {
			width: 100%;
			padding: 3px 5px;
			margin-bottom: 5px;
		}
		input[type="checkbox"]:not(:checked) + label::before, input[type="checkbox"]:checked + label::before {
			content: '';
			position: absolute;
			left: 0;
			top: 4px;
			width: 17px;
			height: 17px;
			border: 1px solid #aaa;
			background: #f8f8f8;
			border-radius: 0px;
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
		}
		input[type="checkbox"]:not(:checked) + label::after, input[type="checkbox"]:checked + label::after {
			content: '✔';
			position: absolute;
			left: 1px;
			top: 5px;
			font-size: 18px;
			line-height: 0.8;
			color: #3e5065;
			transition: all .2s;
		}
		.blog-order { margin-left:0; }
		.icon-star-active { color: #ff9900 }
.district-more {
    display: inline;
    float: left;
    padding-bottom: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 930px;
    -ms-flex: 0 0 930px;
    width: 100%;
    position: relative;
    font-size: 16px;
    font-weight: 500;
}
.white-box {
    background-color: #fff;
    padding: 8px 15px;
}
.district-more .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.district-more ul, .district-more ol {
    list-style: none;
}
.district-more ul {
    display: flex;
    flex-direction: row;
}
.district-more li {
    flex: 0.2;
}

.district-more [type="checkbox"]:not(:checked), .district-more [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}


.district-more [type="checkbox"]:not(:checked) + label::after, .district-more [type="checkbox"]:checked + label::after {
    content: '✔';
    position: absolute;
    top: 5px;
    font-size: 18px;
    line-height: 0.8;
    color: #3e5065;
    transition: all .2s;
}
.district-more [type="checkbox"]:not(:checked) + label::after {
    opacity: 0;
    transform: scale(0);
}
.district-more [type="checkbox"]:not(:checked) + label::after, .district-more [type="checkbox"]:checked + label::after {
    left: 2px;
}
.district-more .btn-area {
    margin: 25px 0 15px 0px;
}

.district-more .btn-area .btn-primary.dropdown-toggle, .district-more .btn-area .btn-primary:hover {
    color: #fff;
    background-color: #3e5065;
    border-color: #3e5065;
}
