<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>僱傭中心 - 店舖、菲傭、印傭等資訊| ECSearch</title>	<meta name="description" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="https://www.ecsearch.hk/images/logo.png">
	<meta property="og:type" content="article" />
    <link href='static/css/90325babebd442818ab6ff42a9167381.css' rel='stylesheet' type='text/css'>


    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/owl.carousel.css" rel="stylesheet" />
    <link href="static/css/owl.theme.css" rel="stylesheet" />
    <link href="static/css/custom.css" rel="stylesheet">
	<link href="static/css/flag-icon.css" rel="stylesheet">
<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="static/css/magnific-popup.css">
	<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
	<!--<script src="static/js/jquery.min.js"></script>-->

	<!-- Magnific Popup core JS file -->
	<script src="static/js/jquery.magnific-popup.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="static/js/html5shiv.min.js"></script>
    <script src="static/js/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="static/css/login.css" />
	<style>
		label.error {
    text-align: left;
    color: red;
    font-size: 13px;
    padding-left: 10px;
    margin: -5px 0 5px;
    line-height: 1.5em;
    display: block;
}
	</style>
<link rel="stylesheet" href="static/css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="static/css/slick.css"/>
<link rel="stylesheet" type="text/css" href="static/css/slick-theme.css"/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="static/js/1a5e44f90f374288bdc3c347af6eb537.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147096840-1');
</script>
<!--<script async src="static/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7224827506588268",
    enable_page_level_ads: true
  });
</script>-->
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
  FB.init({
    xfbml            : true,
    version          : 'v4.0'
  });
};

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/zh_HK/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=install_email
  page_id="112090653497703">
</div>	<style>
		.privacy-policy ul {
			margin-bottom: 15px;
			margin-left: 0;
			padding-left: 0;
		}
		.privacy-policy ul li {
			margin-top: 15px;
			margin-left: 20px;
			padding-left: 0px;
			list-style-position: inside;
			text-indent: -1.5em;
		}
		.privacy-policy ul.list-decimals li {
			list-style-type: decimal;
		}
		.privacy-policy ul.list-alpha li {
			list-style-type: lower-alpha;
			text-indent: 0;
			list-style-position: outside;
		}		
	</style>
</head>
<body class="theme-blue" style="background-color:#cddde3;font-family:Helvetica, Arial, sans-serif, 'Microsoft JhengHei'">

    <div class="site">

        <style>
	.tz-main-menu li:last-child {
		display:none;
	}
	.off-canvas-enabled .tz-main-menu li:last-child {
		display:block;
	}
</style>
<header class="tz-header">

            <!--Start header top-->
            <div class="tz-header-top" style="font-size:14px;">
                <div class="container">

                    <!--Header top left-->
                    <div class="tz-header-top-left pull-left">
                        <i class="fa fa-search tz-button-search"></i> 人氣搜尋&nbsp;&nbsp;<a href="search.php?filter_agency[]=屯門">屯門</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=荃灣">荃灣</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=元朗">元朗</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=南豐中心">南豐中心</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=中環">中環</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=將軍澳">將軍澳</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=菲傭">菲傭</a>                    </div>
                    <!--End header top left-->
                    <div class="tz-header-top-right pull-right">
						<div class="tz-data-time pull-left">2019年12月18日 星期三  </div>
                        <ul class="top-header-menu pull-left">							
                            <!--<li>
                                <a href="#" class="active">寫評語</a>
                            </li>
                            <li>
                                <a href="#">更新服務費用</a>
                            </li>-->
							                            <!--<li>
                               	<a href="" data-toggle="modal" data-target="#modalLoginForm" >登入</a>
                            </li>-->
                            <li>
                                <a href="" data-toggle="modal" data-target="#modalSignForm">登入/註冊</a>
                            </li>
							<li>
                                <a href="agency_account.php">公司帳戶</a>
                            </li>
														
                        </ul>
                        
                        
                    </div>
                </div>
            </div>
            <!--End header top-->

            <!--Header Content-->
            <div class="tz-header-content">
                <div class="tz-header-logo pull-left">
                    <a href="index.php">
                        <img src="static/picture/logo.png" alt="LifeMag">
                    </a>
                </div>
                
				<!--<div class="your-class">
				  <div>your content</div>
				  <div>your content</div>
				  <div>your content</div>
				</div>-->
                <!--navigation mobi-->
				
                <button data-target=".nav-collapse" class="btn-navbar tz_icon_menu" type="button">
                    <i class="fa fa-bars"></i>
                </button>
				<div class="tz-search pull-right" style="margin-top:22px;line-height:35px;">
                        <form id="serach-form" class="tz-form-search input-width" action="search.php" method="get" enctype="multipart/form-data">
                            <input type="text" id="search-agency-mobile" name="filter_agency[]" class="input-width" autocomplete="off" placeholder="僱傭中心、地區、大廈..." style="background:#dadada;">
                            <i class="fa fa-search" style="position: absolute;right: 0;top: 0;padding: 9px 15px 9px 10px;font-size: 16px;color: #000;cursor: pointer;" onclick="$('#serach-form').submit();"></i>
                        </form>
                    </div>
				<div class="tz-header-ads-desktop tz-header-ads pull-right top-banner" style="margin-top:13px;">	
					<!--<a href="http://www.sunlight.hk/index.asp?desktop=1">
                        <img src="static/picture/test1.jpg" alt="ads">
                    </a>
					<a href="https://www.technic.com.hk/">
                        <img src="static/picture/test2.jpg" alt="ads">
                    </a>
					<a href="https://www.overseas.com.hk/">
                        <img src="static/picture/test3.jpg" alt="ads">
                    </a>	
					<a href="https://www.bandung.com.hk/">
                        <img src="static/picture/test4.jpg" alt="ads">
                    </a>
					<a href="http://www.starcarehk.com/index.do">
                        <img src="static/picture/test5.jpg" alt="ads">
                    </a>-->
                    <a href="contact.php">
                        <img src="static/picture/banner2.jpg" alt="ads">
                    </a>
					<a href="contact.php">
                        <img src="static/picture/banner1.jpg" alt="ads">
                    </a>
                </div>
                <!--End navigation mobi-->
            </div>
            <!--Header end content-->

            <!--Header menu-->
            <div class="tz-header-menu">
                <div class="container">

                    <!--Main Menu-->
                    <nav class="nav-menu pull-left">
                        <ul class="tz-main-menu nav-collapse">
                            <li>
                                <a href="index.php" style="padding:0 18px;">主頁</a>
                            </li>
                            <li>
                                <a href="search.php" style="position:relative;">僱傭中心<span style="position:absolute;top:1px;left:28px;display: inline;
padding: .2em .6em .3em;
font-size: 75%;
font-weight: bold;
line-height: 1;
color: #000;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;background:#dadada;">1058間</span></a>
                            </li>
                            <li>
                                <a href="blacklist.php">提供外傭黑名單</a>
                            </li>
							<li>
                                <a href="ask.php">我要問問題</a>
                            </li>	
							<li>
                                <a href="#" style="color:red">返回 &rarr;</a>
                            </li>
                        </ul>
                    </nav>
                    <!--End Main menu-->

                    <!--Start search-->
                    <div class="tz-search pull-right">
                        <form id="serach-form2" class="tz-form-search input-width" action="search.php" method="get" enctype="multipart/form-data">
                            <input type="text" id="search-agency" name="filter_agency[]" class="input-width" autocomplete="off" placeholder="僱傭中心、地區、大廈...">
                            <i class="fa fa-search" style="position: absolute;right: 0;top: 0;padding: 9px 15px 9px 10px;font-size: 16px;color: #000;cursor: pointer;" onclick="$('#serach-form2').submit();"></i>
                        </form>
                    </div>
                    <!--End search-->

                </div>
            </div>
            <!--End header menu-->

        </header>        <!--Heading-->
        <!--<div class="tz-heading">
            <img src="static/picture/1220x232.png" alt="blog page">
            <h1>Contact Us</h1>
        </div>-->
        <!--End Heading-->

        <!--Page wrap-->
        <div class="page-contact-wrap">
            <!--<div class="map-iframe">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d423284.59051352716!2d-118.41173249999996!3d34.020498899999986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s123+Sky+Tower+address+name%2C+Los+Algeles%2C+USA%2C+Country%2C!5e0!3m2!1sen!2s!4v1430668657672"></iframe>
            </div>-->
			<div class="container">
				<h3>個人資料政策聲明（簡稱“私隱政策”） </h3>   
                <div class="row privacy-policy">
                    <div class="col-md-12">
                        <div class="content-div">
							<div class="content-div">
<p>ECSearch.hk 搵傭易（統稱“本公司”; 而因應相關內文需要或許可)，承諾遵守香港法例第486章“個人資料（私隱）條例”的規定。本公司將確保其員工對用戶通過ECSearch.hk、其子域、任何其他由本公司經營/開發的網站、媒體平臺或應用程式包括移動應用程式（統稱“渠道”）提交的所有個人信息和數據遵守最嚴格的安全和保密標準。不經渠道用戶同意(無論註冊與否)( 簡稱“用戶”)，本公司不會向任何人洩露此等個人資料，惟以下第3條中列出的獲授權人士除外。</p>
<p>本公司強烈建議用戶仔細閱讀本私隱政策以便瞭解本公司對於用戶在渠道上提供的個人資料的相關政策和實際應用。本私隱政策適用於註冊和非註冊用戶，並且當本公司認為必要時可不定期更新、修訂、更改相關條款內容。</p>
<p>如果用戶對該私隱政策有任何疑問或顧慮，請聯絡本公司的客戶服務代表。有關進一步詳情，請參閱下述第12條關於“聯絡方法”的條款。</p>
<ul class="list-decimals">

<li><u>收集個人資料的目的</u>
<ul>
<li style="text-indent:0em;margin:10px 5px 0 0;">在使用渠道的過程中，用戶可能會透露或會被要求提供個人資料和/或數據。為了用戶可享受渠道提供的各類服務，用戶可能需要向本公司提供其個人資料和/或數據。雖然用戶不必應要求通過渠道提交個人資料，惟若用戶拒絕提交其資料，本公司將不能向其提供若干渠道上的服務。<br>
本公司在渠道中收集個人資料的目的包括但不僅限於以下幾點：
<ul class="list-alpha">
<li>為用戶提供服務的日常運作;</li>
<li>辨認及確認在渠道上發佈廣告、材料、照片、評論或其他資訊（統稱“資訊”）的用戶身份;</li>
<li>識別瀏覽過渠道上資訊的用戶;</li>
<li>為用戶提供由本公司相關服務;</li>
<li>處理及跟進服務來電、查詢、申請和投訴;</li>
<li>向用戶提供營銷和宣傳資訊作為會員的福利（有關進一步詳情，請參閱下述第4條關於“通訊、宣傳資訊、營銷資訊訂閱”的條款）；</li>
<li>辨別用戶通過營銷和宣傳資訊已享受過其為渠道會員之福利;
</li>
<li>為用戶提供渠道和論壇以上傳照片、分享和交流有關僱傭的服務或產品;</li>
<li>作為會員福利，允許渠道會員參加本公司或其關聯公司舉辦的特別活動;</li>
<li>就有關用戶於本公司之會員賬戶的行政通知和通信而聯絡有關用戶和/或就用戶通過渠道使用本公司提供服務而發出有關的通知及確認;</li>
<li>基於以上目的為用戶設計並提供產品和服務; </li>
<li>統計渠道使用量的資料並分析渠道及服務使用情況以供本公司內部使用;</li>
<li>使用用戶的個人資料以促進本公司為用戶提供本公司之服務、本公司及/或其客戶之營銷服務、特別或促銷活動。</li>
</ul>
</li>
<li style="text-indent:0em;margin:10px 0 0;">如用戶未滿13歲，本公司強烈建議他/她尋求父母或監護人的事先同意，其父母或監護人可電郵到 <a href="mailto:info@ecsearch.hk">info@ecsearch.hk</a>與本公司的負責人員聯絡，為用戶登記成為渠道會員
<br>
<br> 本公司只會收集本公司認為相關且必要的個人資料；而不會就上述用途收集過量資料。
<br>
<br> 除上述目的以外，本公司亦有可能需要使用用戶的個人資料作其他目的，就此，本公司會徵求用戶的事先允許。如用戶為未成年人，本公司將會向他/她的父母或監護人徵求允許。</li>
</ul>
</li>

<li><u>個人資料收集 </u>
<ul>
<li style="text-indent:0em;margin-left:5px;">本公司可能收集有關用戶資料，如用戶名稱、登錄ID和密碼、位址、電子郵寄地址、電話號碼、年齡、性別、出生日期、居住的國家、國籍、教育程度和工作經驗等非公開的個人資料。偶爾，本公司亦可從比賽、用戶調查、或特別優惠的方式收集更多的個人資料和/或數據。
<br>
<br>只有本公司授權的員工才會被允許接觸用戶的個人資料和數據，同時除了於條款3 “資料的披露或傳遞” 所列出的情況外，本公司不得向任何第三方披露此等個人資料和數據。</li>
</ul>
</li>

<li><u>資料的披露或傳遞</u>
<br>
<ul>
<li style="text-indent:0em;margin-left:5px;">根據下列條款，本公司將採取各種可行措施以保密所有用戶個人資料和/或免遭披露。
<br>
<br>一般來說，本公司只將用戶的個人資料或數據提供給本公司內部員工以便為用戶提供服務。然而，在下列情況下，本公司可能會將其資料或數據傳遞給第三方：
<ul class="list-alpha">
<li>在保密的情況下，當資料和/或數據披露和/或轉讓予任何本公司授權的第三方供應商或外部供應商，以促進渠道所提供的服務;</li>
<li>當資料和/或數據披露和/或轉讓予本公司授權的任何代理人或其關聯公司，經本公司授權使用該等資料和/或數據;</li>
<li>在<a href="terms">條款和細則</a>允許的情況下;</li>
<li>本公司需要保護和捍衛其權利和財產;</li>
<li>本公司認為根據適用的法律法規，包括但不限於司法程式，法院命令，或渠道上的法律程式，而有必要提供；及</li>
<li>在本公司認為必要以維持和改善渠道的服務。</li>
</ul>
</li>
<li style="text-indent:0em;margin-left:5px;">通過渠道所收集的個人資料可以在本公司運作的任何國家內轉移，儲存或處理。一旦使用渠道，用戶將視為同意並授權本公司在上述情況下披露和轉載他們的個人資料，以及將用戶資料（包括個人資料）轉載到其所在以外的其他國家。</li>
</ul>
</li>

<li><u>通訊、宣傳資訊、營銷資訊訂閱</u>
<ul>
<li style="text-indent:0em;margin-left:5px;">本公司會不時根據用戶在渠道上提供的個人資料向其寄送通訊、宣傳資訊和營銷資訊，及有關本公司或其第三方廣告商的產品、服務及類似的資訊。本公司在取得用戶的允許後（包括無異議的指示）利用用戶資料進行直接營銷。在這方面，請注意：
<ul class="list-alpha">
<li>本公司或其授權人和其員工或會在直銷中使用本公司持有的用戶名稱、登錄ID和密碼、聯繫資料、年齡、性別、出生日期、居住的國家、國籍、教育程度和工作經歷。
</li>
<li>以下類別的服務，產品和物件或會被推銷：
<ul class="list-roman">
<li>僱傭類產品服務;</li>
<li>旅遊類產品服務;</li>
<li>本公司為會員和用戶舉辦的特別活動，包括但不限於講座、研討會、競賽等形式;</li>
<li>獎賞，忠誠或特別待遇計劃和相關的產品和服務;</li>
<li>優惠包括優惠券，折扣，團購優惠和促銷活動;</li>
<li>由本公司和其廣告商提供的產品和服務 (這些實體的名稱可以在相關的產品和服務的廣告和/或營銷材料相中找到，因具體情況而定) ;</li>
 <li>非牟利目的的慈善捐贈和捐款。</li>
</ul>
</li>
<li>上述產品、服務和項目可由以下第三方提供或經本公司徵求（在捐贈和捐款的情況下）:
<ul class="list-roman">
<li>第三方服務供應商提供上述第（2）項所列的產品、服務和項目; 及</li>
<li>慈善或非營利機構;</li>
</ul>
</li>
<li>除行銷上述服務、產品和項目本身，本公司還有意向上述第（3）項中所述的全部或任何人士提供上述第（1）項所述的數據給使用以促銷其服務、產品和項目。用於這一目的時，本公司需要徵求用戶書面同意（其中包括不反對的指示）; </li>
<li>本公司可能會為上述第（4）項所述的其他人士提供數據以換取金錢或其他財產等報酬，而當本公司徵求如上述（4）項所需的用戶書面同意，本公司將會通知用戶如本公司透過提供數據給其他人士而獲得金錢或其他財產的回報。 </li>
</ul>
</li>
<li style="text-indent:0em;margin-left:5px;"> 會員可以採取下列方法選項 “退出” 而不再接收此類資訊。用戶可以選擇登錄用戶帳戶維護頁面，或點擊相關通訊/信息的自動連結，或聯絡本公司的客戶服務代表，詳情請參閱下述第12條關於“聯絡方法”的條款。
<br>
<br>
</li>
</ul>
</li>

<li><u>Cookies和日誌檔</u>
<ul>
<li style="text-indent:0em;margin-left:5px;">除非用戶明確要求，當用戶進入並瀏覽渠道時，本公司不會收集保存任何個人身份的資料。當用戶登入渠道時，本公司僅記錄他們的登入而不收集他們的個人資料或數據。網站的伺服器軟體也只記錄功能變數名稱伺服器位址、追蹤用戶進入的頁面並將這些資訊存儲在“cookies”中，並諸如互聯網協定（IP）位址、瀏覽器類型、進/退頁面、作業系統、日期/時間戳記和點擊流量等資訊記錄在日誌檔中。所有這些都在用戶不知不覺中發生。
<br>
<br> 本公司及本公司聘請的第三方供應商共同使用本公司的cookies及第三方cookies，如Google Analytics (分析) cookies，以基於用戶過往訪問渠道的記錄而優化和提供行銷資訊。 詳情請參閱<a href="https://networkadvertising.org/managing/opt_out.asp">http://networkadvertising.org/managing/opt_out.asp</a>。
<br><br>
本公司不會以上述自動收集的信息和數據與任何個人身份信息鏈接。本公司通常使用自動收集信息和數據來評估渠道的受眾規模、不同渠道的受歡迎程度、追蹤本公司的促銷活動和特別項目中的用戶變動及參賽人數，測量用戶的流量模式和管理渠道。這種自動收集資訊和資料除按照以上第3條款 “資料的披露或傳遞”規定中披露，不會對外披露。
</li>
</ul>
</li>

<li><u>Google Analytics（分析）</u>
<ul>
 <li style="text-indent:0em;margin-left:5px;">Google Analytics（分析）廣告功能（簡稱“此功能”）在渠道實施。本公司以Google Analytics（分析）人口統計和興趣報告為基礎而實施此功能。
<br>
<br> Google Analytics（分析）是由Google提供的網路分析服務，它利用收集到的資料去追蹤和研究渠道之使用，用以編制用戶活動報告，並與其他Google服務共用。 Google或會使用收集到的資料再根據背景情況以個性化其本身廣告網路的行銷資訊。
<br>
<br> 用戶可以點擊<a href="https://tools.google.com/dlpage/gaoptout/">此處</a>停用Google Analytics（分析）。</li>
</ul>
</li>

<li><u>連結到其他網站/媒體平臺/應用程式</u>
<ul>
<li style="text-indent:0em;margin-left:5px;">渠道會提供非本公司擁有或控制的其他網站/平臺/應用程式的連結。當用戶進入這些網站/平臺/應用程式和使用其提供的服務時，該用戶的個人資料和/或數據可能會在這些網站/平臺/應用程式中被收集。當用戶決定點擊渠道上允許用戶進入另一個網站/平臺/應用程式的任何廣告或超連結，該用戶的私密保護個人資料可能會顯露在這些其他網站/平臺/應用程式中。
<br>
<br> 非註冊用戶通過他們的線上社交網路工具帳戶（包括但不限於Facebook）登入或使用任何渠道將被視為已同意本私隱政策，本公司可得到他們提供予該等網路工具的個人資料，以便本公司和本公司授權人員於不同的國家為渠道使用者提供服務和營銷資料。這些用戶被視為同意本公司及其授權人員接觸和使用所得到的個人資料。
<br>
<br> 本私隱政策只適用於渠道。在此要提醒用戶，本私隱政策並不會對用戶顯露於其他網站/平臺/應用程式的個人資料數據而提供保障；本公司不會就其他網站/平臺/應用程式之私隱政策承擔任何責任。有見及此，本公司強烈建議用戶應參考該等網站/平臺/應用程式的私隱政策。
</li>
</ul>
</li>

<li><u>保安措施</u>
<ul>
<li style="text-indent:0em;margin-left:5px;">用戶的個人資料和/或數據的保障對本公司非常重要。本公司致力於確保用戶的個人資料和/或數據免受未經授權的接觸。本公司實施採用適當的電子、管理方面的措施以維護保護和保障用戶的個人資料安全。
<br>
<br> 所有用戶的個人資料和/或數據由本公司或其授權的第三方之授權人員才可接觸，而當這些授權人員接觸此類個人信息和數據時，會遵守本私隱政策的條款。用戶可以放心，他們的個人信息和數據只為有必要履行收集信息之目的而被保留，除非用戶要求本公司停止持有其個人信息或終止他/她的會員帳戶。這樣的要求可能會導致本公司無法於將來提供進一步的服務、或提供為您受益的信息和/或宣傳資料。
<br>
<br> 註冊用戶應將自己的用戶名和密碼保密，不與任何人分享。
<br>
<br>
<br> 本公司遵循公認的行業標準保障用戶經渠道提交的個人資料和數據。然而，沒有一種百份之一百安全的互聯網傳輸或電子存儲方法。因此，儘管本公司致力於保護用戶的個人資料和數據免受未經授權的接觸，本公司亦不能保證其絕對安全。
</li>
</ul>
</li>

<li><u>造訪或修改數據的要求</u>
<ul>
<li style="text-indent:0em;margin-left:5px;">本公司希望幫助保持用戶的個人資料為最新及準確。要查看或編輯已儲存在渠道的個人資料，請進入www.ecsearch.hk的“登入”一節。
<br>
<br>任何用戶隨時都可以聯絡本公司的客戶服務代表以提交資料造訪或修改數據的要求。有關進一步詳情，請參閱下述第12條關於“聯絡方法”的條款。
<br>
<br>在用戶希望造訪或修改他/她的個人資料和數據的情況下，本公司可以要求他/她提供個人資料以驗證並確認他/她的身份。香港身份證號碼、護照號碼或商業登記證號碼是無法修改的，除非這些資料證明是不準確的。本公司會盡可能在用戶作出要求的40天內作出回應。
<br>
<br>請注意，當用戶提交造訪數據的要求，如果公司認為這要求適當，將僅會提供給您一份個人數據的副本。
</li>
</ul>
</li>

<li><u>個人資料的保存</u>
<ul>
<li style="text-indent:0em;margin-left:5px;">用戶的個人資料和/或數據一經取得將安全地保存在本公司的系統中。根據法律規定，用戶的個人資料和/或資料將會由本公司保留，直至用戶以書面形式要求本公司從資料庫中刪除其個人資料和/或數據或終止其個人在渠道的會員資格。
</li>
</ul>
</li>

<li><u>私隱政策的變更 </u>
<ul>
<li style="text-indent:0em;margin-left:5px;">當本公司認為必要時，本公司有權隨時按以下方式更新、修改、修訂或更改本私隱政策。若本公司決定更新、修改 、修訂或更改本私隱政策，本公司將在此網頁和/或其他本公司認為合適的地方發佈該等變更資訊，以便於用戶能夠及時瞭解本公司收集的資料、本公司如何使用， 以及在何種情況下本公司會披露該等資料。
<br>
<br>若本公司的私隱政策有重大變化，本公司將在此網頁上、透過電子郵件、或在本公司的主頁上發佈通告的方式以通知各用戶。
</li>
</ul>
</li>

<li><u>聯絡方法</u>
<ul>
<li style="text-indent:0;margin-left: 5px;">
如有任何疑問，請點擊 <a href="contact-us">此處</a> 與我們的客戶服務專員聯絡。
</li>
</ul>
</li>
</ul>
</div>



						</div>
                    </div>
                    
                </div>
            </div>
			
			
        </div>
        <!--End Page wrap-->

        <!--Start Footer-->
        <footer class="tz-footer">
            <div class="container footer-content">
                <div class="row">

                    <!--Footer one-->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget_menu">
                            <h4 class="widget_title">女傭中心 (1058間)</h4>
                            <ul>
                                <li>
                                    <a href="search.php">搜尋</a>
                                </li>
								<li>
                                    <a href="search.php">最熱門</a>
                                </li>
								<li>
                                    <a href="search.php?filter_sort=top-mark">最高評分</a>
                                </li>
								<li>
                                    <a href="search.php?filter_sort=top-favourited">最多收藏</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <!--End Footer one-->
					
					<div class="col-md-3 col-sm-6">
                        <div class="widget widget_menu">
                            <h4 class="widget_title">外傭黑名單</h4>
                            <ul>
								<li>
                                    <a href="blacklist.php">新增</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>

                    <!--Footer Two-->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget_menu">
                            <h4 class="widget_title">手續費情報</h4>
                            <ul>
                                <li>
                                    <a href="search.php?view=印傭海外">海外 印傭</a>
                                </li>
<li>
                                    <a href="search.php?view=菲傭海外">海外 菲傭</a>
                                </li>
<li>
                                    <a href="search.php?view=印傭完約">完約 印傭</a>
                                </li>
<li>
                                    <a href="search.php?view=菲傭完約">完約 菲傭</a>
                                </li>
<li>
                                    <a href="search.php?view=印傭續約">續約 印傭</a>
                                </li>
<li>
                                    <a href="search.php?view=菲傭續約">續約 菲傭</a>
                                </li>
								
                                
                            </ul>
                        </div>
                    </div>
                    <!--End Footer two-->

                    <!--Footer Three-->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget_menu">
                            <h4 class="widget_title">更多</h4>
                            <ul>
                                <li>
                                    <a href="contact.php">聯絡我們</a>
                                </li>
<li>
                                    <a href="terms.php">條款及細則</a>
                                </li>
<li>
                                    <a href="privacy.php">私隱政策</a>
                                </li>

<li>
                                    <a href="holiday_2019.php">2019年外傭假期</a>
                                </li>
<li>
                                    <a href="holiday_2020.php">2020年外傭假期</a>
                                </li>								
                                
                            </ul>
                        </div>
                    </div>
                    <!--End Footer three-->

                    <!--Footer four-->
                    
                    <!--End Footer four-->

                </div>
            </div>

            <div class="tz-copyright">
                <div class="container">
                    <p class="pull-left copyright-content">ECSearch 搵傭易 &copy; 版權所有 不得轉載</p>
                    <ul class="pull-right footer-social">
                        <li>
                            <a href="https://www.facebook.com/ecsearch.hk" target="_blank"><i  class="fa fa-facebook-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
			
        </footer>        <!--End Footer-->

    </div>

    <div class="container" style="text-align: center;margin-bottom: 10px;">ECSearch搜羅全香港中介公司及外傭的資料、用家對於中介公司提供服務、菲傭及印傭的評語及推薦</div>
	
	<div class="container" style="font-size:12px;">重要聲明：本討論區是以即時上載留言的方式運作，ECSearch 搵傭易對所有留言的真實性、完整性及立場等，不負任何法律責任。而一切留言之言論只代表留言者個人意 見，並非本網站之立場，讀者及用戶不應信賴內容，並應自行判斷內容之真實性。於有關情形下，讀者及用戶應尋求專業意見(如涉及醫療、法律或投資等問題)。 由於本討論區受到「即時上載留言」運作方式所規限，故不能完全監察所有留言，若讀者及用戶發現有留言出現問題，請聯絡我們。ECSearch 搵傭易有權刪除任何留言及拒絕任何人士上載留言 (刪除前或不會作事先警告及通知 )， 同時亦有不刪除留言的權利，如有任何爭議，管理員擁有最終的詮釋權 。本網站歡迎所有用戶提供任何資料證明評論真確情，用戶如對留言有爭議，本網站管理員有可能向用戶索取有關資料，所有提供至本網站之資料皆會保密。用戶切勿撰寫粗言穢語、誹謗、渲染色情暴力或人身攻擊的言論，敬請自律。本網站保留一切法律權利。</div>	
	<div id="userMenu" style="display:none;">
		<ul>
			<li onclick="window.location.href='search.php?filter_favourited=1'">已收藏</li>
			<li onclick="window.location.href='profile.php?view=comment'">我的評語</li>
			<li onclick="window.location.href='profile.php'">設定</li>
			<li onclick="javascript:Logout();">登出</li>
		</ul>
	</div>
<div id="agencyMenu" style="display:none;">
		<ul>
			<li onclick="window.location.href='agency_profile.php'">設定</li>
			<li onclick="javascript:Logout();">登出</li>
		</ul>
	</div>
	<div class="hide" style="display:none;">
<fb:login-button scope="public_profile,email" onlogin="checkFbLoginState();"></fb:login-button>
</div>
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="login" class="login-popup" align="center">
<div id="login-result"><form action=""></form></div>
<a onclick="javascript:FbLogin();">
<div class="login-box facebook-box column">
<div class="fa fa-facebook login-icon"></div>
<div class="flex-1">以Facebook帳戶登入</div>
</div>
</a>
<!--<form id="login-form" method="post" novalidate="novalidate">
<div class="or"><span>或</span></div>
<div><input type="text" id="login-email" placeholder="電郵地址" required="" aria-required="true"></div>
<div><input type="password" id="login-password" placeholder="密碼" required="" aria-required="true"></div>
<div id="login-message"></div>
<a onclick="if (!window.__cfRLUnblockHandlers) return false; javascript:emailLogin()"><div id="login-btn" class="btn btn-primary">登入</div></a>
</form>
<div class="forget_pwd"><span class="text-dark-red"><a id="test" href="#forget-pwd" class="open-popup-link">忘記密碼?</a></span></div>-->
<div class="or margin-top-bottom-5"></div>
<div class="forget_pwd">未有帳戶嗎？<span class="btn-signup text-dark-red"> <a href="#" class="open-popup-link">立即登記</a></span></div>
</div>
      <!--<div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default">Login</button>
      </div>-->
    </div>
  </div>
</div>
	<div class="modal fade" id="modalSignForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="signup" class="login-popup" align="center">
<a onclick="javascript:FbLogin();">
<div class="login-box facebook-box column">
<div class="fa fa-facebook login-icon"></div>
<div class="flex-1">以Facebook帳戶登入</div>
</div>
</a>
<!--<div class="or"><span>或</span></div>
<form id="signup-form" method="post" novalidate="novalidate">
<div>以電郵登記</div>
<div><input type="email" id="email" name="email" placeholder="電郵地址" required="" aria-required="true"></div>
<div><input type="text" id="nick_name" name="nick_name" placeholder="用戶名稱" required="" aria-required="true"></div>
<div class="column">
<div class="flex-1">
<select id="birth_year" name="birth_year">
<option value="" disabled="" selected="">出生年份</option>
<option value="1959 or below">1959或之前</option>
<option value="1960 - 1965">1960 - 1965</option><option value="1965 - 1970">1965 - 1970</option><option value="1970 - 1975">1970 - 1975</option><option value="1975 - 1980">1975 - 1980</option><option value="1980 - 1985">1980 - 1985</option><option value="1985 - 1990">1985 - 1990</option><option value="1990 - 1995">1990 - 1995</option><option value="1995 - 2000">1995 - 2000</option><option value="2000 - 2005">2000 - 2005</option><option value="2005 - 2010">2005 - 2010</option><option value="2010 - 2015">2010 - 2015</option><option value="2015 - 2020">2015 - 2020</option> </select>
</div>
<div class="flex-1 gender">
<select id="gender" name="gender">
<option value="" disabled="" selected="">稱謂</option>
<option value="Male">先生</option>
<option value="Female">小姐</option>
</select>
</div>
</div>
<div><input type="password" id="password" name="password" placeholder="密碼" required="" aria-required="true"></div>
<div><input type="password" id="confirmed_password" name="confirmed_password" placeholder="確認密碼" required="" aria-required="true"></div>
<div class="district-more content padding-bottom-8"><input name="promo_email" id="promo_email" type="checkbox" value="1"><label for="promo_email">請將精彩優惠、僱傭資訊電郵給我</label></div>
<div id="register-btn" class="btn btn-primary" onclick="email_signUp()">立即註冊</div>
</form>-->
<div class="content">註冊即表示你接受<a href="/terms">條款及細則</a>和<a href="/privacy-policy">私隱政策</a></div>
<!--<div class="or margin-top-bottom-5"></div>
<div class="content text-center">已有帳戶？<span class="btn-signup text-dark-red"> <a href="#login" class="open-popup-link">登入</a></span></div>-->
		  <form id="signup-form" method="post" novalidate="novalidate">
		  <div class="district-more content" style="float:none;padding-top:15px;display:inline-block;width:auto"><input name="promo_email" id="promo_email" type="checkbox" value="1" checked><label for="promo_email" style="font-size:12px;">是，請通知我ECsearch 上的優惠，最新資訊等等。我隨時都可以取消訂閱。<br>
Yes, please notify me any promotions or latest information etc. I can unsubscribe anytime. 
</label><div style="clear:both"></div></div>
			  
		  </form>
</div>
      <!--<div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default">Login</button>
      </div>-->
		
    </div>
  </div>
</div>	
    <script src="static/js/jquery.min.js" type="text/javascript"></script>
    <script src="static/js/jasny-bootstrap.min.js" type="text/javascript"></script>
	<script src="static/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="static/js/jquery.validate.min.js" type="text/javascript"></script>
	<script src="static/js/additional-methods.min.js" type="text/javascript"></script>
	<script src="static/js/messages_zh_tw.js" type="text/javascript"></script>
	<link rel="stylesheet" href="static/css/font-awesome.min_1.css">
    <script src="static/js/theia-sticky-sidebar.js"></script>
    <script src="static/js/off-canvas.js"></script>
    <script src="static/js/owl.carousel.js"></script>
    <script src="static/js/custom.js"></script>
	<script>		
		var contact = $("#contact-form");
		  
		  //login.validate();
		function contact_submit() { 
			
		  if (contact.valid()) {
			  //$('#modalSignForm').modal('toggle');
			var divID = "#contact-btn";
			var string = $(divID).html();
			var formData = new FormData($("#contact-form")[0]);
			  
			$(divID).attr("disabled", true).off('click').html('<img src="static/picture/loading2.gif" width="30">');	
			setTimeout(function(){	  
				$.ajax({
				   url: "includes/scripts/contact_submit.php",
				   type: "POST",
				   data: formData,
				   cache: false,
				   contentType: false,
				   processData: false,
				   success: function(data){	
					  //$('#modalSignForm').modal('toggle');
					  //alert(data);
					  $(divID).html(string).attr("disabled", false).on('click',{});	
					  //alert(data);
					  $('#name').val('');
					  $('#email').val('');
					  $('#subject').val('');
					  $('#comment').val('');
					  alert("查詢已送出");
				   }	
				});				   
			}, 500);     			  
		  } 
	  }		
		
	</script>
	<script src="static/js/jquery-ui.js"></script>
<script>
	$("#search-agency").autocomplete({
		  minLength: 1,
		  source: function (request, response) {
			$.ajax({
				type: "POST",
				url: "includes/scripts/autocomplete_agency.php",
				data: { "term": $("#search-agency").val() },
				success: response,
				dataType: 'json'
			});  
		  }  
	  }); 
	$("#search-agency-mobile").autocomplete({
		  minLength: 1,
		  source: function (request, response) {
			$.ajax({
				type: "POST",
				url: "includes/scripts/autocomplete_agency.php",
				data: { "term": $("#search-agency-mobile").val() },
				success: response,
				dataType: 'json'
			});  
		  }  
	  }); 
	
</script>
<script type="text/javascript" src="static/js/slick.min.js"></script>
	<script>
		
		$(document).ready(function(){
		  $('.top-banner').slick({
		  	infinite: true,
			  slidesToShow: 1,
			  slidesToScroll: 1,
			  dots: false,
			  arrows: false,
			  speed: 300,
			  autoplay: true,
  			  autoplaySpeed: 5000,
		  });
		$('.top_banner').slick({
		  	infinite: true,
			  slidesToShow: 1,
			  slidesToScroll: 1,
			  dots: false,
			  arrows: false,
			  speed: 300,
			  autoplay: true,
  			  autoplaySpeed: 5000,
		  });	
			
		});
	</script>
	<script src="static/js/login.js"></script>

</body>
</html>