<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>僱傭中心 - 店舖、菲傭、印傭等資訊| ECSearch</title>	<meta name="description" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="https://www.ecsearch.hk/images/logo.png">
	<meta property="og:url" content="https://emson.com.hk/ecsearch/question_detail.php?id=94" />
	<meta property="og:type" content="article" />
    <link href='/static/css/bf1d88f427714ff3b96e57f1d6b163f9.css' rel='stylesheet' type='text/css'>


    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/owl.carousel.css" rel="stylesheet" />
    <link href="/static/css/owl.theme.css" rel="stylesheet" />
    <link href="/static/css/custom.css" rel="stylesheet">
	<link href="/static/css/flag-icon.css" rel="stylesheet">
<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="/static/css/magnific-popup.css">
	<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
	<!--<script src="/static/js/jquery.min.js"></script>-->

	<!-- Magnific Popup core JS file -->
	<script src="/static/js/jquery.magnific-popup.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/login.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<style>
		label.error {
    text-align: left;
    color: red;
    font-size: 13px;
    padding-left: 10px;
    margin: -5px 0 5px;
    line-height: 1.5em;
    display: block;
}
	</style>
<link rel="stylesheet" href="/static/css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/static/css/slick.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/slick-theme.css"/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="/static/js/3313cf217b904f8d8db79405133d72e8.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147096840-1');
</script>
<!--<script async src="/static/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7224827506588268",
    enable_page_level_ads: true
  });
</script>-->
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
  FB.init({
    xfbml            : true,
    version          : 'v4.0'
  });
};

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/zh_HK/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=install_email
  page_id="112090653497703">
</div>    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="/static/css/nouislider.css">
	<link rel="stylesheet" href="/static/css/question.css">
	<link rel="stylesheet" type="text/css" id="u0" href="/static/css/skin.min.css">
</head>
<body class="theme-blue" style="background-color:#cddde3;font-family:Helvetica, Arial, sans-serif, 'Microsoft JhengHei'">

    <div class="site">

        <style>
	.tz-main-menu li:last-child {
		display:none;
	}
	.off-canvas-enabled .tz-main-menu li:last-child {
		display:block;
	}
</style>
<header class="tz-header">

            <!--Start header top-->
            <div class="tz-header-top" style="font-size:14px;">
                <div class="container">

                    <!--Header top left-->
                    <div class="tz-header-top-left pull-left">
                        <i class="fa fa-search tz-button-search"></i> 人氣搜尋&nbsp;&nbsp;<a href="search.php?filter_agency[]=屯門">屯門</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=荃灣">荃灣</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=元朗">元朗</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=南豐中心">南豐中心</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=中環">中環</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=將軍澳">將軍澳</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=菲傭">菲傭</a>                    </div>
                    <!--End header top left-->
                    <div class="tz-header-top-right pull-right">
						<div class="tz-data-time pull-left">2019年12月20日 星期五  </div>
                        <ul class="top-header-menu pull-left">							
                            <!--<li>
                                <a href="#" class="active">寫評語</a>
                            </li>
                            <li>
                                <a href="#">更新服務費用</a>
                            </li>-->
							                            <!--<li>
                               	<a href="" data-toggle="modal" data-target="#modalLoginForm" >登入</a>
                            </li>-->
                            <li>
                                <a href="" data-toggle="modal" data-target="#modalSignForm">登入/註冊</a>
                            </li>
							<li>
                                <a href="agency_account.php">公司帳戶</a>
                            </li>
														
                        </ul>
                        
                        
                    </div>
                </div>
            </div>
            <!--End header top-->

            <!--Header Content-->
            <div class="tz-header-content">
                <div class="tz-header-logo pull-left">
                    <a href="index.php">
                        <img src="/static/picture/logo.png" alt="LifeMag">
                    </a>
                </div>
                
				<!--<div class="your-class">
				  <div>your content</div>
				  <div>your content</div>
				  <div>your content</div>
				</div>-->
                <!--navigation mobi-->
				
                <button data-target=".nav-collapse" class="btn-navbar tz_icon_menu" type="button">
                    <i class="fa fa-bars"></i>
                </button>
				<div class="tz-search pull-right" style="margin-top:22px;line-height:35px;">
                        <form id="serach-form" class="tz-form-search input-width" action="search.php" method="get" enctype="multipart/form-data">
                            <input type="text" id="search-agency-mobile" name="filter_agency[]" class="input-width" autocomplete="off" placeholder="僱傭中心、地區、大廈..." style="background:#dadada;">
                            <i class="fa fa-search" style="position: absolute;right: 0;top: 0;padding: 9px 15px 9px 10px;font-size: 16px;color: #000;cursor: pointer;" onclick="$('#serach-form').submit();"></i>
                        </form>
                    </div>
				<div class="tz-header-ads-desktop tz-header-ads pull-right top-banner" style="margin-top:13px;">	
					<!--<a href="http://www.sunlight.hk/index.asp?desktop=1">
                        <img src="/static/picture/test1.jpg" alt="ads">
                    </a>
					<a href="https://www.technic.com.hk/">
                        <img src="/static/picture/test2.jpg" alt="ads">
                    </a>
					<a href="https://www.overseas.com.hk/">
                        <img src="/static/picture/test3.jpg" alt="ads">
                    </a>	
					<a href="https://www.bandung.com.hk/">
                        <img src="/static/picture/test4.jpg" alt="ads">
                    </a>
					<a href="http://www.starcarehk.com/index.do">
                        <img src="/static/picture/test5.jpg" alt="ads">
                    </a>-->
                    <a href="contact.php">
                        <img src="/static/picture/banner2.jpg" alt="ads">
                    </a>
					<a href="contact.php">
                        <img src="/static/picture/banner1.jpg" alt="ads">
                    </a>
                </div>
                <!--End navigation mobi-->
            </div>
            <!--Header end content-->

            <!--Header menu-->
            <div class="tz-header-menu">
                <div class="container">

                    <!--Main Menu-->
                    <nav class="nav-menu pull-left">
                        <ul class="tz-main-menu nav-collapse">
                            <li>
                                <a href="index.php" style="padding:0 18px;">主頁</a>
                            </li>
                            <li>
                                <a href="search.php" style="position:relative;">僱傭中心<span style="position:absolute;top:1px;left:28px;display: inline;
padding: .2em .6em .3em;
font-size: 75%;
font-weight: bold;
line-height: 1;
color: #000;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;background:#dadada;">1058間</span></a>
                            </li>
                            <li>
                                <a href="blacklist.php">提供外傭黑名單</a>
                            </li>
							<li>
                                <a href="ask.php">我要問問題</a>
                            </li>	
							<li>
                                <a href="#" style="color:red">返回 &rarr;</a>
                            </li>
                        </ul>
                    </nav>
                    <!--End Main menu-->

                    <!--Start search-->
                    <div class="tz-search pull-right">
                        <form id="serach-form2" class="tz-form-search input-width" action="search.php" method="get" enctype="multipart/form-data">
                            <input type="text" id="search-agency" name="filter_agency[]" class="input-width" autocomplete="off" placeholder="僱傭中心、地區、大廈...">
                            <i class="fa fa-search" style="position: absolute;right: 0;top: 0;padding: 9px 15px 9px 10px;font-size: 16px;color: #000;cursor: pointer;" onclick="$('#serach-form2').submit();"></i>
                        </form>
                    </div>
                    <!--End search-->

                </div>
            </div>
            <!--End header menu-->

        </header>        <!--Heading-->
        <!--<div class="tz-heading">
            <img src="/static/picture/1220x232.png" alt="blog page">
            <h1>Contact Us</h1>
        </div>-->
        <!--End Heading-->

        <!--Page wrap-->
        <div class="blog-post-sidebar">

            <!--Blog post-->
            <div class="blog-post four-columns">
                <div class="container">
										
                    <div class="row">
                        <div class="col-md-3 blog-sidebar tzcontent" id="search-filter">                            
                            <div class="widget widget_categories">
                                <ul>
                                    <li>
                                        <a href="question.php">所有 (83)</a>
                                    </li>
                                    <li><a href="question.php?category=1" class="active">外傭相處 (24)</a></li><li><a href="question.php?category=2">僱傭中心 (1)</a></li><li><a href="question.php?category=3">僱傭條例 (7)</a></li><li><a href="question.php?category=4">申請文件 (18)</a></li><li><a href="question.php?category=5">文化 (6)</a></li><li><a href="question.php?category=6">其他 (18)</a></li><li><a href="question.php?category=7">外傭生活 (9)</a></li>                                </ul>
                            </div>
	
	                            <div class="widget">
                                <div class="tz-title-filter">
                                    <h3 class="tz-title">
                                        <span>其它問題</span>
                                    </h3>
                                </div>
                                <div class="widget-ca-box">
                                    <ul class="widget-post-box">
                                       <li>
                                           <div class="widget_item_info" style="padding-left:0;">
                                                <h4><a href="question_detail.php?id=20">印尼姐姐病左，講極都唔去睇醫生，又唔食藥俾佢激死！點算好</a></h4>
                                           </div>
                                       </li><li>
                                           <div class="widget_item_info" style="padding-left:0;">
                                                <h4><a href="question_detail.php?id=79">Any 初生BB的指引（英文）分享information / class? </a></h4>
                                           </div>
                                       </li><li>
                                           <div class="widget_item_info" style="padding-left:0;">
                                                <h4><a href="question_detail.php?id=50">有無試過請一印一菲一齊做野?請兩個工人有咩要注意</a></h4>
                                           </div>
                                       </li><li>
                                           <div class="widget_item_info" style="padding-left:0;">
                                                <h4><a href="question_detail.php?id=85">姐姐一直玩 Facebook，直播及玩 snow 拍影片放上網，應該怎樣處理這事情？</a></h4>
                                           </div>
                                       </li><li>
                                           <div class="widget_item_info" style="padding-left:0;">
                                                <h4><a href="question_detail.php?id=27">工人要求請假一星期! 話媽媽係醫院就嚟唔得. 如果比佢放一星期我有咩需要注意? 佢未做夠一年假期又應該點計?</a></h4>
                                           </div>
                                       </li><li>
                                           <div class="widget_item_info" style="padding-left:0;">
                                                <h4><a href="question_detail.php?id=36">工人還在菲律賓，她打電話比我話唔夠$比agent問我借</a></h4>
                                           </div>
                                       </li><li>
                                           <div class="widget_item_info" style="padding-left:0;">
                                                <h4><a href="question_detail.php?id=29">俾幾多錢bonus 好？</a></h4>
                                           </div>
                                       </li>                                    </ul>
                                </div>
                            </div>
	
	                            
                            
                        </div>                        <div class="col-md-9  tzsidebar">
							<div class="question-header"><div><h4><a href="question.php">[外傭相處] My maid always talked with my neighbour and keep on talking about my family stuff</a></h4></div></div>
							<div class="question-detail" style="padding-top:0px">
<div class="content">
<div class="column">
<div class="vote">
<div><a data-toggle="modal" data-target="#modalSignForm" class="check-login"><i class="fa fa-angle-up" data-toggle="tooltip" data-placement="right" title="" data-original-title="這個問題有用"></i></a></div>
<div id="vote-1-94">0</div>
<div><a data-toggle="modal" data-target="#modalSignForm" class="check-login"><i class="fa fa-angle-down" data-toggle="tooltip" data-placement="right" title="" data-original-title="這個問題沒有用"></i></a></div>
<div><i class="fa fa-eye icon-view"></i></div>
<div class="view">2</div>
</div>
<div class="message">
<div class="question-content">
My maid is a very friendly and over kind person who loved to chit chat with my neighbours and just keep on talking my family stuff like what we working, where we go to works and even what we had for dinner etc, so so so annoying and we warned her before but no changes. What should we do? She did every houseworks prefect but only have a big mouth.  </div>
<div class="user">
<div class="user-box">
<div class="question-user-photo" style="background:url('/static/images/default-user-icon-profile.png')"></div>
<div class="question-user-name">Miss Siu</div>
</div>
<div class="date">2019-11-29</div>
<div id="add-question-reply-1-94" class="add-reply"><a href="javascript:reply(1,94)" class="check-login">新增回覆</a></div>
<div id="input-question-reply-1-94" class="input-reply hide"></div>
</div>
</div>
</div>
</div>
<div class="answer-count">
<div>0 答案</div>
<!--<div class="answer-sort">
排序:
<select id="answer-sort">
<option value="vote" selected="">投票</option>
<option value="latest_date">日期</option>
</select>
</div>-->
</div>
								
<form id="answer-form" method="post">
<div class="content">
<div class="your-answer">你的答案</div>
<div class="answer-textarea">
<input type="text" name="username" value="" id="username" placeholder="姓名">	
<textarea rows="8" name="answer_content" id="answer_content" style="width:100%;"></textarea>
<input type="hidden" name="question_id" value="94" id="question_id">
<input type="hidden" name="sort" value="">
<!--<input name="image" type="file" id="upload" class="hide" onchange="if (!window.__cfRLUnblockHandlers) return false; ">
<input type="hidden" id="answer_content" name="answer_content">-->
<input type="hidden" name="action" value="add answer">
<a href="javascript:add_answer()" class="check-login">
    <!-- <div class="btn btn-primary btn-answer">送出</div> -->
    <button type="submit" class="btn btn-primary btn-answer">送出</button>
</a>
</div>
</div>
</form>
</div>
                        </div>
                    </div><!--End row-->
					
                </div><!--End container-->
            </div>
            <!--End blog post-->

        </div>
        <!--End Page wrap-->

        <!--Start Footer-->
        <footer class="tz-footer">
            <div class="container footer-content">
                <div class="row">

                    <!--Footer one-->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget_menu">
                            <h4 class="widget_title">女傭中心 (1058間)</h4>
                            <ul>
                                <li>
                                    <a href="search.php">搜尋</a>
                                </li>
								<li>
                                    <a href="search.php">最熱門</a>
                                </li>
								<li>
                                    <a href="search.php?filter_sort=top-mark">最高評分</a>
                                </li>
								<li>
                                    <a href="search.php?filter_sort=top-favourited">最多收藏</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <!--End Footer one-->
					
					<div class="col-md-3 col-sm-6">
                        <div class="widget widget_menu">
                            <h4 class="widget_title">外傭黑名單</h4>
                            <ul>
								<li>
                                    <a href="blacklist.php">新增</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>

                    <!--Footer Two-->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget_menu">
                            <h4 class="widget_title">手續費情報</h4>
                            <ul>
                                <li>
                                    <a href="search.php?view=印傭海外">海外 印傭</a>
                                </li>
<li>
                                    <a href="search.php?view=菲傭海外">海外 菲傭</a>
                                </li>
<li>
                                    <a href="search.php?view=印傭完約">完約 印傭</a>
                                </li>
<li>
                                    <a href="search.php?view=菲傭完約">完約 菲傭</a>
                                </li>
<li>
                                    <a href="search.php?view=印傭續約">續約 印傭</a>
                                </li>
<li>
                                    <a href="search.php?view=菲傭續約">續約 菲傭</a>
                                </li>
								
                                
                            </ul>
                        </div>
                    </div>
                    <!--End Footer two-->

                    <!--Footer Three-->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget_menu">
                            <h4 class="widget_title">更多</h4>
                            <ul>
                                <li>
                                    <a href="contact.php">聯絡我們</a>
                                </li>
<li>
                                    <a href="terms.php">條款及細則</a>
                                </li>
<li>
                                    <a href="privacy.php">私隱政策</a>
                                </li>

<li>
                                    <a href="holiday_2019.php">2019年外傭假期</a>
                                </li>
<li>
                                    <a href="holiday_2020.php">2020年外傭假期</a>
                                </li>								
                                
                            </ul>
                        </div>
                    </div>
                    <!--End Footer three-->

                    <!--Footer four-->
                    
                    <!--End Footer four-->

                </div>
            </div>

            <div class="tz-copyright">
                <div class="container">
                    <p class="pull-left copyright-content">ECSearch 搵傭易 &copy; 版權所有 不得轉載</p>
                    <ul class="pull-right footer-social">
                        <li>
                            <a href="https://www.facebook.com/ecsearch.hk" target="_blank"><i  class="fa fa-facebook-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
			
        </footer>        <!--End Footer-->

    </div>

    <div class="container" style="text-align: center;margin-bottom: 10px;">ECSearch搜羅全香港中介公司及外傭的資料、用家對於中介公司提供服務、菲傭及印傭的評語及推薦</div>
	
	<div class="container" style="font-size:12px;">重要聲明：本討論區是以即時上載留言的方式運作，ECSearch 搵傭易對所有留言的真實性、完整性及立場等，不負任何法律責任。而一切留言之言論只代表留言者個人意 見，並非本網站之立場，讀者及用戶不應信賴內容，並應自行判斷內容之真實性。於有關情形下，讀者及用戶應尋求專業意見(如涉及醫療、法律或投資等問題)。 由於本討論區受到「即時上載留言」運作方式所規限，故不能完全監察所有留言，若讀者及用戶發現有留言出現問題，請聯絡我們。ECSearch 搵傭易有權刪除任何留言及拒絕任何人士上載留言 (刪除前或不會作事先警告及通知 )， 同時亦有不刪除留言的權利，如有任何爭議，管理員擁有最終的詮釋權 。本網站歡迎所有用戶提供任何資料證明評論真確情，用戶如對留言有爭議，本網站管理員有可能向用戶索取有關資料，所有提供至本網站之資料皆會保密。用戶切勿撰寫粗言穢語、誹謗、渲染色情暴力或人身攻擊的言論，敬請自律。本網站保留一切法律權利。</div>	
	<div id="userMenu" style="display:none;">
		<ul>
			<li onclick="window.location.href='search.php?filter_favourited=1'">已收藏</li>
			<li onclick="window.location.href='profile.php?view=comment'">我的評語</li>
			<li onclick="window.location.href='profile.php'">設定</li>
			<li onclick="javascript:Logout();">登出</li>
		</ul>
	</div>
<div id="agencyMenu" style="display:none;">
		<ul>
			<li onclick="window.location.href='agency_profile.php'">設定</li>
			<li onclick="javascript:Logout();">登出</li>
		</ul>
	</div>
	<div class="hide" style="display:none;">
<fb:login-button scope="public_profile,email" onlogin="checkFbLoginState();"></fb:login-button>
</div>
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="login" class="login-popup" align="center">
<div id="login-result"><form action=""></form></div>
<a onclick="javascript:FbLogin();">
<div class="login-box facebook-box column">
<div class="fa fa-facebook login-icon"></div>
<div class="flex-1">以Facebook帳戶登入</div>
</div>
</a>
<!--<form id="login-form" method="post" novalidate="novalidate">
<div class="or"><span>或</span></div>
<div><input type="text" id="login-email" placeholder="電郵地址" required="" aria-required="true"></div>
<div><input type="password" id="login-password" placeholder="密碼" required="" aria-required="true"></div>
<div id="login-message"></div>
<a onclick="if (!window.__cfRLUnblockHandlers) return false; javascript:emailLogin()"><div id="login-btn" class="btn btn-primary">登入</div></a>
</form>
<div class="forget_pwd"><span class="text-dark-red"><a id="test" href="#forget-pwd" class="open-popup-link">忘記密碼?</a></span></div>-->
<div class="or margin-top-bottom-5"></div>
<div class="forget_pwd">未有帳戶嗎？<span class="btn-signup text-dark-red"> <a href="#" class="open-popup-link">立即登記</a></span></div>
</div>
      <!--<div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default">Login</button>
      </div>-->
    </div>
  </div>
</div>
	<div class="modal fade" id="modalSignForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="signup" class="login-popup" align="center">
<a onclick="javascript:FbLogin();">
<div class="login-box facebook-box column">
<div class="fa fa-facebook login-icon"></div>
<div class="flex-1">以Facebook帳戶登入</div>
</div>
</a>
<!--<div class="or"><span>或</span></div>
<form id="signup-form" method="post" novalidate="novalidate">
<div>以電郵登記</div>
<div><input type="email" id="email" name="email" placeholder="電郵地址" required="" aria-required="true"></div>
<div><input type="text" id="nick_name" name="nick_name" placeholder="用戶名稱" required="" aria-required="true"></div>
<div class="column">
<div class="flex-1">
<select id="birth_year" name="birth_year">
<option value="" disabled="" selected="">出生年份</option>
<option value="1959 or below">1959或之前</option>
<option value="1960 - 1965">1960 - 1965</option><option value="1965 - 1970">1965 - 1970</option><option value="1970 - 1975">1970 - 1975</option><option value="1975 - 1980">1975 - 1980</option><option value="1980 - 1985">1980 - 1985</option><option value="1985 - 1990">1985 - 1990</option><option value="1990 - 1995">1990 - 1995</option><option value="1995 - 2000">1995 - 2000</option><option value="2000 - 2005">2000 - 2005</option><option value="2005 - 2010">2005 - 2010</option><option value="2010 - 2015">2010 - 2015</option><option value="2015 - 2020">2015 - 2020</option> </select>
</div>
<div class="flex-1 gender">
<select id="gender" name="gender">
<option value="" disabled="" selected="">稱謂</option>
<option value="Male">先生</option>
<option value="Female">小姐</option>
</select>
</div>
</div>
<div><input type="password" id="password" name="password" placeholder="密碼" required="" aria-required="true"></div>
<div><input type="password" id="confirmed_password" name="confirmed_password" placeholder="確認密碼" required="" aria-required="true"></div>
<div class="district-more content padding-bottom-8"><input name="promo_email" id="promo_email" type="checkbox" value="1"><label for="promo_email">請將精彩優惠、僱傭資訊電郵給我</label></div>
<div id="register-btn" class="btn btn-primary" onclick="email_signUp()">立即註冊</div>
</form>-->
<div class="content">註冊即表示你接受<a href="/terms">條款及細則</a>和<a href="/privacy-policy">私隱政策</a></div>
<!--<div class="or margin-top-bottom-5"></div>
<div class="content text-center">已有帳戶？<span class="btn-signup text-dark-red"> <a href="#login" class="open-popup-link">登入</a></span></div>-->
		  <form id="signup-form" method="post" novalidate="novalidate">
		  <div class="district-more content" style="float:none;padding-top:15px;display:inline-block;width:auto"><input name="promo_email" id="promo_email" type="checkbox" value="1" checked><label for="promo_email" style="font-size:12px;">是，請通知我ECsearch 上的優惠，最新資訊等等。我隨時都可以取消訂閱。<br>
Yes, please notify me any promotions or latest information etc. I can unsubscribe anytime. 
</label><div style="clear:both"></div></div>
			  
		  </form>
</div>
      <!--<div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default">Login</button>
      </div>-->
		
    </div>
  </div>
</div>	
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/jasny-bootstrap.min.js" type="text/javascript"></script>
	<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery.validate.min.js" type="text/javascript"></script>
	<script src="/static/js/additional-methods.min.js" type="text/javascript"></script>
	<script src="/static/js/messages_zh_tw.js" type="text/javascript"></script>
	
	<link rel="stylesheet" href="/static/css/font-awesome.min_1.css">
    <script src="/static/js/theia-sticky-sidebar.js"></script>
    <script src="/static/js/off-canvas.js"></script>
    <script src="/static/js/owl.carousel.js"></script>
    <script src="/static/js/custom.js"></script>
	<script src="/static/js/login.js"></script>
	<!--<script src="/static/js/tinymce.min.js" type="text/javascript"></script>-->
	<script>
         $("#answer-form").on("submit",function(event){
            event.preventDefault();
            var username =$("#username").val();
            var answer_content =$("#answer_content").val(); 
            axios.post('http://18.136.120.63:5005/postdata', {
                id:"",question_id:"1",status:"1",username:username,member_id:"1",content:answer_content,ip_address:"127.0.0.1"
              },
              )
              .then(function (response) {

                console.log(response);
              })
              .catch(function (error) {
                console.log(error);
              })
            return false;
        });	
		
    	function add_vote(type,id,number) {
			
				$.ajax({
				   url: "includes/scripts/add_vote.php",
				   type: "POST",
				   data: {action:"add vote",type:type,id:id,number:number},
				   success: function(data){	
					   //alert(data);
					   if (data==1) {
						   $("#vote-"+type+"-"+id).html(parseInt($("#vote-"+type+"-"+id).html())+number);   
					   } else {
						   dialog('<font color=red>你之前已更新過</font>');
					   }
				   }	
				});		
		}
		
		function reply(type,id) {
			$.ajax({
			   url: "question_reply.php",
			   type: "POST",
			   data: {question_id:id,question_reply_type:type,sort:""},
			   success: function(data){	
				 $("#add-question-reply-"+type+"-"+id).addClass('hide');
				 $("#input-question-reply-"+type+"-"+id).html(data);			 
				 $("#input-question-reply-"+type+"-"+id).removeClass('hide');	
				 $("#reply-content-"+type+"-"+id).focus()		 
			   }	
			});			
		}	
		
		function add_reply(formID) {
		$.ajax({
		   url: "includes/scripts/add_reply.php",
		   type: "POST",
		   data: $("#"+formID).serialize(),
		   success: function(data){	
			   /*$("#"+formID).remove();
			   console.log("#r-"+formID);
			   console.log(data);
			   $("#r-"+formID).html(data);*/
			   window.location.reload();
		   }	
		});			
	}	
		
		function add_answer() {
			var divID = "#btn-answer";
			var string = $(divID).html();
			$(divID).attr("disabled", true).off('click').html('<img src="/static/picture/loading2.gif" width="30">');	
			/*$("#answer_content").val(tinymce.activeEditor.getContent());		*/
			$.ajax({
			   url: "includes/scripts/add_answer.php",
			   type: "POST",
			   data: $("#answer-form").serialize(),
			   success: function(data){	
				 if (data=='1') {	 
					/*window.location.href = "/questions/12/請海外菲,-菲律賓領事館入表後要幾多日先入香港入境處";	*/		
					 window.location.reload();
				 } else {
					dialog("<font color=red>錯誤, 請重新再試</font>");
					$(divID).html(string).attr("disabled", false).on('click',{});
				 }
			   }	
			});	        
		}
		
		function questionVisit(question_id){
			$.ajax({
				   url: "includes/scripts/questionvisit.php",
				   type: "POST",
				   data: {id:question_id},
				   cache: false,
				   success: function(data){						  
				   }	
				});	
		}
		
		$(document).ready(function() {	
		  $('[data-toggle="tooltip"]').tooltip(); 
			
			
		  var id = $("#question_id").val();
		  questionVisit(id);
			
		  	
		  /*$("#answer-sort").change(function(e) {
			  console.log($("#answer-sort").val());
			$.ajax({
			   url: "includes/scripts/answer_sort.php",
			   type: "POST",
			   data: {answer_sort:$("#answer-sort").val()},
			   success: function(data){	
				   $("#form1").submit()
			   }	
			});			  
		  });	
*/
		  /*tinymce.init({
			selector: "textarea",
			theme: "modern",
			paste_data_images: true,
			menubar: false,
			convert_fonts_to_spans: true,
			paste_word_valid_elements: "b,strong,i,em,h1,h2,u,p,ol,ul,li,a[href],span,color,font-size,font-color,font-family,mark",
			paste_retain_style_properties: "all",
			language: 'zh_TW',
			content_css : "css/tinymce.css", 
			plugins: [
			  'emoticons textcolor lists link image code paste'
			],	  
			toolbar: [
			  'undo redo | bold underline italic |  forecolor emoticons  | link image | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent code',
			],
			image_advtab: true,
			file_picker_callback: function(callback, value, meta) {
			  if (meta.filetype == 'image') {
				$('#upload').trigger('click');
				$('#upload').on('change', function() {
				  var file = this.files[0];
				  var reader = new FileReader();
				  reader.onload = function(e) {
					callback(e.target.result, {
					  alt: ''
					});
				  };
				  reader.readAsDataURL(file);
				});
			  }
			}	
		  });  */
		});
    
	</script>
	<script src="/static/js/jquery-ui.js"></script>
<script>
	$("#search-agency").autocomplete({
		  minLength: 1,
		  source: function (request, response) {
			$.ajax({
				type: "POST",
				url: "includes/scripts/autocomplete_agency.php",
				data: { "term": $("#search-agency").val() },
				success: response,
				dataType: 'json'
			});  
		  }  
	  }); 
	$("#search-agency-mobile").autocomplete({
		  minLength: 1,
		  source: function (request, response) {
			$.ajax({
				type: "POST",
				url: "includes/scripts/autocomplete_agency.php",
				data: { "term": $("#search-agency-mobile").val() },
				success: response,
				dataType: 'json'
			});  
		  }  
	  }); 
	
</script>
<script type="text/javascript" src="/static/js/slick.min.js"></script>
	<script>
		
		$(document).ready(function(){
		  $('.top-banner').slick({
		  	infinite: true,
			  slidesToShow: 1,
			  slidesToScroll: 1,
			  dots: false,
			  arrows: false,
			  speed: 300,
			  autoplay: true,
  			  autoplaySpeed: 5000,
		  });
		$('.top_banner').slick({
		  	infinite: true,
			  slidesToShow: 1,
			  slidesToScroll: 1,
			  dots: false,
			  arrows: false,
			  speed: 300,
			  autoplay: true,
  			  autoplaySpeed: 5000,
		  });	
			
		});
	</script>
	
	
</body>
</html>