<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>僱傭中心 - 店舖、菲傭、印傭等資訊| ECSearch</title>	<meta name="description" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="https://www.ecsearch.hk/images/logo.png">
	<meta property="og:type" content="article" />
    <link href='static/css/90325babebd442818ab6ff42a9167381.css' rel='stylesheet' type='text/css'>


    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/owl.carousel.css" rel="stylesheet" />
    <link href="static/css/owl.theme.css" rel="stylesheet" />
    <link href="static/css/custom.css" rel="stylesheet">
	<link href="static/css/flag-icon.css" rel="stylesheet">
<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="static/css/magnific-popup.css">
	<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
	<!--<script src="static/js/jquery.min.js"></script>-->

	<!-- Magnific Popup core JS file -->
	<script src="static/js/jquery.magnific-popup.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="static/js/html5shiv.min.js"></script>
    <script src="static/js/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="static/css/login.css" />
	<style>
		label.error {
    text-align: left;
    color: red;
    font-size: 13px;
    padding-left: 10px;
    margin: -5px 0 5px;
    line-height: 1.5em;
    display: block;
}
	</style>
<link rel="stylesheet" href="static/css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="static/css/slick.css"/>
<link rel="stylesheet" type="text/css" href="static/css/slick-theme.css"/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="static/js/1a5e44f90f374288bdc3c347af6eb537.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147096840-1');
</script>
<!--<script async src="static/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7224827506588268",
    enable_page_level_ads: true
  });
</script>-->
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
  FB.init({
    xfbml            : true,
    version          : 'v4.0'
  });
};

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/zh_HK/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=install_email
  page_id="112090653497703">
</div>	<style>
		
		ol {
			margin-bottom: 15px;
			margin-left: 0;
			padding-left: 0;
		}
		ol li {
			margin-top: 15px;
			margin-left: 20px;
			padding-left: 0px;
			list-style-position: inside;
			text-indent: -1.5em;
		}
		ol.list-decimals {
			counter-reset: section;
			list-style: decimal;
		}
		ol.list-decimals-none {
			list-style-type: none;
		}
		ol.list-decimals-none li::before {
			content: none !important;
		}
		ol.list-decimals ol {
			counter-reset: subsection;
			list-style-type: none;
		}
		ol.list-decimals li {
			counter-increment: section;
		}
		
		
		
		ol.list-rome li {
			list-style-type: lower-roman;
			list-style-position: outside;
			text-indent: 0;
		}
		ol.list-alpha li {
			list-style-type: lower-alpha;
		}
		
		
		ol.list-decimals ol li {
			counter-increment: subsection;
		}
		ol.list-decimals ol li::before {
			content: counter(section)"." counter(subsection) " ";
			margin-left: -3px;
		}
		
	</style>
</head>
<body class="theme-blue" style="background-color:#cddde3;font-family:Helvetica, Arial, sans-serif, 'Microsoft JhengHei'">

    <div class="site">

        <style>
	.tz-main-menu li:last-child {
		display:none;
	}
	.off-canvas-enabled .tz-main-menu li:last-child {
		display:block;
	}
</style>
<header class="tz-header">

            <!--Start header top-->
            <div class="tz-header-top" style="font-size:14px;">
                <div class="container">

                    <!--Header top left-->
                    <div class="tz-header-top-left pull-left">
                        <i class="fa fa-search tz-button-search"></i> 人氣搜尋&nbsp;&nbsp;<a href="search.php?filter_agency[]=屯門">屯門</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=荃灣">荃灣</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=元朗">元朗</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=南豐中心">南豐中心</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=中環">中環</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=將軍澳">將軍澳</a>&nbsp;&nbsp;<a href="search.php?filter_agency[]=菲傭">菲傭</a>                    </div>
                    <!--End header top left-->
                    <div class="tz-header-top-right pull-right">
						<div class="tz-data-time pull-left">2019年12月18日 星期三  </div>
                        <ul class="top-header-menu pull-left">							
                            <!--<li>
                                <a href="#" class="active">寫評語</a>
                            </li>
                            <li>
                                <a href="#">更新服務費用</a>
                            </li>-->
							                            <!--<li>
                               	<a href="" data-toggle="modal" data-target="#modalLoginForm" >登入</a>
                            </li>-->
                            <li>
                                <a href="" data-toggle="modal" data-target="#modalSignForm">登入/註冊</a>
                            </li>
							<li>
                                <a href="agency_account.php">公司帳戶</a>
                            </li>
														
                        </ul>
                        
                        
                    </div>
                </div>
            </div>
            <!--End header top-->

            <!--Header Content-->
            <div class="tz-header-content">
                <div class="tz-header-logo pull-left">
                    <a href="index.php">
                        <img src="static/picture/logo.png" alt="LifeMag">
                    </a>
                </div>
                
				<!--<div class="your-class">
				  <div>your content</div>
				  <div>your content</div>
				  <div>your content</div>
				</div>-->
                <!--navigation mobi-->
				
                <button data-target=".nav-collapse" class="btn-navbar tz_icon_menu" type="button">
                    <i class="fa fa-bars"></i>
                </button>
				<div class="tz-search pull-right" style="margin-top:22px;line-height:35px;">
                        <form id="serach-form" class="tz-form-search input-width" action="search.php" method="get" enctype="multipart/form-data">
                            <input type="text" id="search-agency-mobile" name="filter_agency[]" class="input-width" autocomplete="off" placeholder="僱傭中心、地區、大廈..." style="background:#dadada;">
                            <i class="fa fa-search" style="position: absolute;right: 0;top: 0;padding: 9px 15px 9px 10px;font-size: 16px;color: #000;cursor: pointer;" onclick="$('#serach-form').submit();"></i>
                        </form>
                    </div>
				<div class="tz-header-ads-desktop tz-header-ads pull-right top-banner" style="margin-top:13px;">	
					<!--<a href="http://www.sunlight.hk/index.asp?desktop=1">
                        <img src="static/picture/test1.jpg" alt="ads">
                    </a>
					<a href="https://www.technic.com.hk/">
                        <img src="static/picture/test2.jpg" alt="ads">
                    </a>
					<a href="https://www.overseas.com.hk/">
                        <img src="static/picture/test3.jpg" alt="ads">
                    </a>	
					<a href="https://www.bandung.com.hk/">
                        <img src="static/picture/test4.jpg" alt="ads">
                    </a>
					<a href="http://www.starcarehk.com/index.do">
                        <img src="static/picture/test5.jpg" alt="ads">
                    </a>-->
                    <a href="contact.php">
                        <img src="static/picture/banner2.jpg" alt="ads">
                    </a>
					<a href="contact.php">
                        <img src="static/picture/banner1.jpg" alt="ads">
                    </a>
                </div>
                <!--End navigation mobi-->
            </div>
            <!--Header end content-->

            <!--Header menu-->
            <div class="tz-header-menu">
                <div class="container">

                    <!--Main Menu-->
                    <nav class="nav-menu pull-left">
                        <ul class="tz-main-menu nav-collapse">
                            <li>
                                <a href="index.php" style="padding:0 18px;">主頁</a>
                            </li>
                            <li>
                                <a href="search.php" style="position:relative;">僱傭中心<span style="position:absolute;top:1px;left:28px;display: inline;
padding: .2em .6em .3em;
font-size: 75%;
font-weight: bold;
line-height: 1;
color: #000;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;background:#dadada;">1058間</span></a>
                            </li>
                            <li>
                                <a href="blacklist.php">提供外傭黑名單</a>
                            </li>
							<li>
                                <a href="ask.php">我要問問題</a>
                            </li>	
							<li>
                                <a href="#" style="color:red">返回 &rarr;</a>
                            </li>
                        </ul>
                    </nav>
                    <!--End Main menu-->

                    <!--Start search-->
                    <div class="tz-search pull-right">
                        <form id="serach-form2" class="tz-form-search input-width" action="search.php" method="get" enctype="multipart/form-data">
                            <input type="text" id="search-agency" name="filter_agency[]" class="input-width" autocomplete="off" placeholder="僱傭中心、地區、大廈...">
                            <i class="fa fa-search" style="position: absolute;right: 0;top: 0;padding: 9px 15px 9px 10px;font-size: 16px;color: #000;cursor: pointer;" onclick="$('#serach-form2').submit();"></i>
                        </form>
                    </div>
                    <!--End search-->

                </div>
            </div>
            <!--End header menu-->

        </header>        <!--Heading-->
        <!--<div class="tz-heading">
            <img src="static/picture/1220x232.png" alt="blog page">
            <h1>Contact Us</h1>
        </div>-->
        <!--End Heading-->

        <!--Page wrap-->
        <div class="page-contact-wrap">
            <!--<div class="map-iframe">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d423284.59051352716!2d-118.41173249999996!3d34.020498899999986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s123+Sky+Tower+address+name%2C+Los+Algeles%2C+USA%2C+Country%2C!5e0!3m2!1sen!2s!4v1430668657672"></iframe>
            </div>-->
			<div class="container">
				<h3>服務條款和細則 (簡稱“條款和細則”) </h3>   
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-div">
<p>ECSearch.hk 搵傭易(統稱“本公司”; 而因應相關內文需要或許可，除了通過網站、其他的媒體平臺或網站（簡稱“平臺”）提供服務，還會透過全部或部分由本公司開發的程式(其包括流動應用程式)（簡稱“應用程式”）向用戶提供服務。網站、平臺和應用程序 (統稱“渠道”)。 </p>
<p>用戶瀏覽和使用由渠道所提供的服務必須遵守此條款和細則（列於下文）及
<a href="privacy-policy">私隱政策</a>（簡稱“條款和細則”） 。通過使用渠道或經渠道進入其它網站和/或媒體平臺和/或應用程式，用戶會被視為接受並同意遵守條款和細則及
<a href="privacy-policy">私隱政策</a>。若用戶不接受任何條款和細則及
<a href="privacy-policy">私隱政策</a>，請不要使用渠道。本公司保留權力於沒有預先通知的情況下，隨時修改條款和細則及
<a href="privacy-policy">私隱政策</a>。一旦在渠道上發佈，修訂後的條款和細則及
<a href="privacy-policy">私隱政策</a>將適用於所有用戶。本公司建議用戶應定期瀏覽此頁面，查看最新條款和細則及
 <a href="privacy-policy">私隱政策</a>。一旦用戶通知本公司不接受任何修訂，其應立即終止使用渠道和服務（定義見下文），否則繼續使用渠道將被視為接受所有修訂並受其約束。
</p>
<p>用戶也接受並同意，當使用渠道時，除了受本文所載的條款和細則所約束，用戶將並同時受其使用的其它渠道的條款和細則及其上傳或張貼資料（如以下第4.1節所定義）於本公司或關聯公司所經營之相關渠道的條款和細則所約束(如適用)</p>
<p>用戶進一步接受並同意，他們應就其使用渠道遵守所有適用的法律、 法規、 條例和規章 （不論是否具有法律效力的）。用戶了解到互聯網之全球性質並瞭解和同意他們或須遵守其司法管轄區以外適用的法律、 法規、 條例或規章。</p>
<p>術語“用戶”是指所有的個人/實體在任何時候，無論是在香港或其他地方，以任何理由或目的瀏覽和/或使用渠道。</p>
<ol class="list-decimals ">

<li>
<u>一般條款</u>
<ol>
<li>本公司提供渠道給用戶以:- (i) 發表他們僱傭體驗的意見及照片; (ii) 提供線上行銷（包括但不限於刊登廣告、促銷活動、優惠、行銷資訊和舉辦特別活動）; 及 (iv) 根據條款和細則，使用本公司經由渠道提供的服務及渠道上的各項功能 （以上各項服務統稱"服務"）。</li>
<li>除條款和細則所述外，本公司不參與任何用戶之間的實際交易。</li>
<li>本公司致力於保護用戶的私隱。本公司根據
<a href="privacy-policy">私隱政策</a>中所描述的條款使用用戶的信息。
</li>
</ol>
</li>

<li>
<u>註冊成為會員</u>
<ol>
<li>用戶可以在渠道上自由瀏覽資訊並通過渠道而使用本公司提供的服務。然而，某些內容與渠道的功能，包括但不限於提交評語以及積分獎賞計劃，只提供給已註冊的會員使用（簡稱“會員”）。</li>
<li>用戶可以通過會員註冊或可以利用Facebook或Google帳戶註冊成為網站的會員。用戶保證在註冊成為會員時所提供的個人資料都是真實、準確、完整、在各方面都沒有誤導成份的，並進一步承諾該資料如日後有任何變更，會及時與本公司更新。如用戶未能遵守這條款，本公司將有權暫停和/或終止其會員的資格，而不作另行通知。</li>
<li>任何用戶不可選擇一些侵犯他人權利或本公司認為帶有攻擊性、不正當的或不適當的用戶名稱或密碼。如有用戶違反，本公司將保留修改或刪除用戶名稱或密碼和/或終止他/她的會員資格的權利。在任何情況下，本公司將不會就任何用戶不正當使用用戶名稱或密碼而承擔責任。</li>
<li>用戶須完全和絕對地負責保密您的會員賬號登錄信息和密碼。在任何情況下，本公司絕不會對因未經授權使用的會員帳號而對任何人造成任何損失或損害承擔責任。</li>
<li>本公司有絕對酌情權基於任何理由拒絕任何用戶根據第2.2條申請成為會員，而用戶同意本公司沒有義務向用戶發送任何拒絕會員註冊申請的通知。</li>
<li>本公司保留絕對的權利隨時取消或使其停用任何用戶的會員帳戶。</li>
<li>本公司根據<a href="privacy-policy">私隱政策</a>處理用戶提供的資料。本公司強烈建議用戶在註冊前詳細閱讀<a href="privacy-policy">私隱政策</a>內的條款。</li>
</ol>
</li>

<li>
<u>禁止條款 </u>
<ol class="list-decimals-none">
<li>用戶(包括會員)同意不使用任何渠道進行下列明確禁止的用途：
<ol class="list-rome">
<li>所有用戶禁止干擾、擾亂或侵犯，或試圖干擾、破壞或企圖違反渠道上伺服器或網路的安全性，包括但不限於登入未經授權的伺服器或帳戶，試圖探查、掃描或測試系統或網路的脆弱性或未經適當授權而試圖違反安全或認證措施，企圖干擾任何用戶、主機或發送未經認可的電子郵件。違反系統或網路安全及可能導致民事和/或刑事責任的作為。</li>
<li>用戶不得刪除或修改任何其他用戶發佈的任何材料或資訊。</li>
<li>所有用戶不得使用渠道（1）上傳、張貼、發佈、傳輸、分配、流通或儲存違反任何現行法律或規例的資料；或（2）以任何方式侵犯版權、商標、商業秘密或他人權利；或（3）以任何方式違法、對人身傷害、誹謗、淫穢、歧視、騷擾、威脅、辱駡性的，或以其他方式攻擊或令人反感的行為；或（4）作出除依據本條款和細則或本公司和用戶之間已簽訂的任何服務合同的條款以外的其他商業目的。所有用戶不得列印、下載、複製或以其他方式使用其他用戶的個人身份資訊或未經授權的通信騷擾。</li>
<li>用戶如果不具有法律能力構成具有法律約束力的合同，不得使用此渠道。</li>
<li>用戶不得發佈任何包含虛假記載、誤導或誹謗性內容的廣告或材料、包含任何電腦病毒、木馬、蠕蟲的電腦檔和可能中斷、破壞或限制任何電腦軟、硬體或電信設備的其他材料。此外，廣告不得欺詐或涉及銷售非法產品。</li>
<li>用戶不得上傳或張貼任何材料涉及銷售或提供任何非法產品或服務。</li>
<li>用戶不得濫發資訊，包括但不限於以任何形式張貼、發送或散播任何不明的電子郵件或訊息。</li>
<li>未經他人的明確允許，用戶不應訪問或使用其他用戶的個人資料。</li>
<li>未經本公司事先書面同意，用戶不得向任何第三方分配或轉讓任何您在條款和細則下的權利或義務。</li>
<li>會員不應允許他人通過您的使用者名稱和密碼來訪問或使用本渠道。</li>
</ol>
</li>
</ol>
</li>

<li>
<u>可接受的渠道使用</u>
<ol>
<li>特定用途 — 用戶在渠道上發佈廣告，照片，文章，觀點，評論，留言和/或其他資訊（統稱“資料”）。發佈資料的用戶以下簡稱為“發佈用戶”。
<ol class="list-rome list-decimals-none">
<li>發佈用戶同意僅用渠道於合法用途以及享受渠道所提供的服務。本公司可按其意願保留對發佈在渠道上的所有資料的編輯，拒絕，否決，刪除的權利。</li>
<li>若發佈用戶為個人用戶，他/她不可將其身份證和/或護照號碼發佈在渠道上。</li>
<li>雖然本公司將使用合理方法限制只允許本公司員工接觸發佈用戶個人資料的資料庫，但是本公司並不保證其他人士將不會在沒有本公司允許的情況下接觸該資料庫。對於發佈用戶提供的個人資料的使用和保護，請參照
<a href="privacy-policy">私隱政策</a>。
</li>
<li>用戶需對其發佈在渠道上的資料、以及其於渠道連結到的所有網頁，媒介平臺和應用程式上發佈或分享的相應資料負責。本公司按其意願保留編輯，拒絕，刪除任何資料和連結到網頁和/或媒介平臺和/或應用程式的權利。本公司有權自行決定終止向任何發佈用戶提供任何服務。若用戶在渠道發佈資料後將資料刪除或終止其帳戶，或本公司刪除任何已發佈的資料，則該用戶將無法通過其帳戶接觸該等資料；然而，被刪除的資料仍可持續出現在渠道的任一部分，和/或被本公司以其他任何形式使用。</li>
<li>本公司保留在不給予任何理由的情況下以通知要求任何用戶立即停止使用，或更改用戶名稱的權利；若用戶拒絕遵守本公司提出的要求，本公司可隨時在不提前通知的情況下關閉該用戶帳號，而此行動並不損害本公司其他權利。</li>
<li>用戶使用渠道需承認並同意如下條款：
<ol class="list-alpha ">
<li>若用戶使用渠道來上傳或分享資料，包括但不限於立即上傳和分享自拍照片，用戶同意資料是會共享的;</li>
<li>即使本公司沒有提供該等資訊，用戶在使用渠道時，其個人識別資訊可能會被公開；以及</li>
<li>用戶將在自願選擇和明確風險的情況下使用渠道。用戶將使本公司免受其因使用渠道而導致損害。</li>
</ol>
</li>
<li>本條款規定適用於發佈廣告、特別優惠、商業資訊、促銷和行銷資料的用戶（簡稱“廣告客戶”或“商家”）：
<ol class="list-alpha ">
<li>在向本公司支付服務費或接受任何免費試用邀約的情況下，用戶將有權使用網站和/或平臺和/或應用程式（視情況而定）來發佈廣告、特別優惠、商業資訊和/或行銷資料 (其受制於 (i) 條款和細則及 (ii) 本公司與廣告客戶或商家所訂立的服務合同的條款（簡稱“服務合同”），而在兩者之間有任何衝突的情況下，以後者作準。</li>
<li>本公司保留更改服務費，或向在渠道上發佈廣告、特別優惠、商業資訊和/或和行銷資料的廣告客戶或商家徵收新的費用。</li>
<li>若廣告客戶或商家未能支付服務費用或違反任何條款和細則或服務合同條款的情況下，本公司保留中止或停止廣告客戶或商家的用戶帳號和廣告，及其使用連結到網頁和/或媒介平臺和/或應用程式的權利。</li>
</ol>
</li>
<li>本條文適用於會在渠道上張貼評論的用戶：
<ol class="list-alpha  ">
<li>用戶在所有任何時間應遵守本公司的評語指引; 及</li>
<li>用戶不可在獲得報酬下而撰寫評語或刪除評語。</li>
</ol>
</li>
</ol>
</li>
<li>特定用途 — 用戶瀏覽發佈在渠道上的資料（簡稱“瀏覽者”）
<br> 流覽者同意其只使用渠道於合法用途和用來享受其所提供的服務。流覽者同意從本公司、其關聯公司或管道接收到的任何個人資料，只會用作鑒定和/或搜尋廣告或材料或其內容，或使其享受渠道所提供服務。任何接收到的個人資料與上述目的無關的，包括但不限於商業目的，需被忽視，且不可以任何形式存儲，收集，處理，使用，傳播。流覽者亦同意在上述目的失效或已完成的情況下，立即完全刪除從渠道所收集的所有個人資料。
<br> 若任何用戶違反條款和細則，無論是在香港或其他地方，使用其他用戶個人資料、資訊或資料（無論是否從渠道獲得）本公司將不承擔任何責任。所有用戶接受其公開在渠道上提供的所有個人資料、資訊或資料都是自願提供，且個人承擔所提供資料的所有風險。本公司將不負責保護其公開提供的該等個人資料或資訊。
</li>
</ol>
</li>

<li>
<u>內容許可</u>
<ol class="list-decimals-none">
<li style="text-indent:0;margin-left: 5px;">通過在渠道上發佈資料, 用戶無條件授予本公司非獨家、全球的、不可撤銷、無版稅版權、行使其於資料之著作權，宣傳和資料庫權 （但沒有其他權利）， 以便本公司在任何地方，無論有沒有商業收益，以任何形式使用、發佈、下載、提交、傳播、複製，轉移、編輯、銷售和再利用資料，及實施載於
<a href="privacy-policy">私隱政策</a>中和本文所述的用途。
</li>
</ol>
</li>

<li>
<u>知識產權</u>
<ol class="list-decimals-none">
<li style="text-indent:0;margin-left: 5px;">渠道的所有內容,包括不限於文本、圖片、資訊、評論、版面、資料庫、照片、聲音、視頻格式、軟體、品牌和HTML 均是本公司或用戶的知識產權（視情況而定） ，這些均受版權和商標法保護而不可被下載、 複製、 修改、 轉載、 列印或以任何方式分送，作為合法和非商業用途，或根據本公司與用戶已簽訂的服務合同範圍內而下載和/或列印此類材料除外。除條款和細則及任何特定渠道的條款和細則或與本公司簽訂的條款訂定之用途外，用戶嚴格禁止使用任何上述之內容，本公司保留與此相關的所有權利。用戶認同他們會全權負責因違反版權法及/或其他知識產權法所引致的任何不良後果。<br>
為免生疑問，於任何第三方聲稱同意用戶使用條款和細則提到的內容及資料下，用戶亦不得免除此文所施加的限制。 <br>
用戶同意本公司可以自由地使用、 披露、 採用和修改所有您就通過渠道而提供的想法、 概念、 提案和建議而毋須因此給予您任何報酬或補償。用戶謹此放棄就本公司使用、 披露、 採用及/或修改您的想法、 概念、 建議、 和意見衍生任何考慮就特許權使用費、 手續費及/或其他付款的事宜對本公司作出任何索賠的權利。
</li>
</ol>
</li>

<li>
<u>內容</u>
<ol class="list-decimals-none">
<li style="text-indent:0;margin-left: 5px;">用戶認同本公司可能不會預先過濾或預先授權通過渠道登載或發送之任何內容。在任何情況下，本公司對渠道上的內容或通過渠道發送的內容不承擔任何責任，對任何內容或資料的丟失，以及上述內容或資料的精確性不提供任何保證。
<br>
<br> 用戶在渠道上發佈的任何資料可經與渠道連結的其他網站及/或媒介平臺及/或應用程式之用戶瀏覽。本公司對任何用戶在渠道上發佈資料、資訊時的不合理及非法使用或連結的第三方網站、媒介平臺及應用程式不承擔任何責任。由渠道上提供的其它網站、媒介平臺及應用程式的連結僅為了便利用戶，並作為互聯網的導航工具。本公司不對其它網站、媒介平臺及應用程式加以控制；本公司對其它網站、媒介平臺及應用程式的任何內容或其提供給用戶的任何服務不承擔任何責任。用戶承認並同意單獨對其發佈資料，網頁或其他資訊內容的準確性負全面的責任。本公司對任何連結渠道之其它網站之內容、媒介平臺及應用程式不承擔任何責任, 亦不會對任何其它網站、媒介平臺及應用程式內之內容或資料的精確性提供任何保證。若用戶使用連結渠道的其它網站、媒介平臺及/或應用程式，由其自身承擔風險 。
<br>
<br>如果本公司認為用戶違反或有可能違法任何特定渠道的條款或本公司與用戶簽訂的服務合同之條款和細則，本公司將有權刪除在渠道上已上載或發佈的任何資料以驅逐和防止用戶再使用渠道 （例如: 包括但不限於終止會員帳戶及阻止用戶進入互聯網通信協定位址），並無需對用戶作出任何補償。
<br>
<br>如果本公司基於任何不關乎違反法律或條款和細則規定之原因決定刪除任何已付款之廣告或終止任何已付款之服務，本公司可在扣除已刊登廣告的時期或已提供服務的相關費用後，向用戶退回餘款（如有）。
<br>
<br> 用戶同意本公司在遵守私隱政策的條款下，可就本公司提供有關服務、行銷服務或特別活動，使用其在渠道上已提供的個人資料和其他資訊。
<br>
</li>
</ol>
</li>

<li>
<u>責任</u>
<ol class="list-decimals-none">
<li style="text-indent:0;margin-left: 5px;">本公司或不會即時監控渠道但保留此項權利。本公司不保證任何資料或網頁或應用程式是否被特定數量的用戶或任何特定用戶瀏覽。在渠道的使用上，本公司不會作為任何用戶的代理，對因使用渠道或其他任何原因造成的直接或間接損害不會承擔任何責任。本公司竭力向用戶提供優質服務，但不保證渠道的操作無失誤或渠道和伺服器完全無病毒或無其他損害裝置。
<br><br>
因使用渠道或其內容導致用戶需要維修或替換設備或資料，由用戶自己承擔相關費用。渠道和其內容是按照“目前的模式”提供，在模式種類上沒有任何保證。 在法律允許的最大限度內，本公司對渠道內容、服務、文本、圖像和連結的適用性、適合特定用途性、準確性和可靠性、完整性或及時性不作任何保證。
</li>
</ol>
</li>

<li>
<u>自我風險</u>
<ol class="list-decimals-none">
<li style="text-indent:0;margin-left: 5px;">
所有用戶需就使用渠道及通過渠道瀏覽其他網頁/媒體平臺/或應用程序而承擔自身風險。 所有用戶對其發佈行為負責，本公司不保證用戶在渠道上發佈資料的真實性、準確性和可靠性，亦不代表本公司贊同發佈用戶表達的觀點。所有用戶依賴其用戶張貼的廣告和材料時應由其承擔自身風險。在用戶違反條款和細則內容或侵犯法律情況下，本公司保留權利開除該用戶並阻止用戶再次使用渠道，也保留權利可自行決定刪除任何具有辱駡性、非法性、分裂性或不適當的資料。
</li>
</ol>
</li>

<li>
<u>賠償</u>
<ol class="list-decimals-none">
<li style="text-indent:0;margin-left: 5px;">所有的用戶同意保障及免除本公司、執行官、董事、雇員、代理、合作商、代表、股東、服務人員、律師、前任或後任，因用戶使用渠道或通過使用本公司提供的任何服務或違反任何條款和細則或特定渠道之條款或本公司和用戶之間所簽訂的任何服務合同而產生的任何索賠、行為、要求、責任、損失和費用等方面的責任（包括全額賠償基礎上的合法費用和訴訟費用）。如有任何此類索賠，訴訟或法律程序的，本公司將及時通知相關用戶。</li>
</ol>
</li>

<li>
<u>服務範圍</u>
<ol class="list-decimals-none">
<li style="text-indent:0;margin-left: 5px;">本公司有權限制服務的使用，包括資訊在渠道發佈的期限、尺寸、位置和佈局、郵件資訊或任何通過服務傳輸的內容。本公司可以自由裁量，保留編輯、修改、刪除、移除任何發佈在渠道上資訊的相關權利，無需事先提供通知或說明原因。用戶承認本公司對任何服務的修改，暫停或中止不負有任何責任。</li>
</ol>
</li>

<li>
<u>服務終止</u>
<ol class="list-decimals-none">
<li style="text-indent:0;margin-left: 5px;">本公司有權因任何原因(包括但不限於用戶違反任何法律或條款和細則或任何特定平臺或本公司與用戶簽署的服務合同之條款和細則)及沒有通知的情況下刪除或停用任何帳戶或屏蔽任何用戶的郵件或IP 地址, 或終止對用戶的服務, 或移除服務內的資料。本公司保留於其認為適當或必要時在任何時候採取有關行動, 包括但不限於向該用戶採取法律行動。本公司在停止服務或删除渠道中的資料之前或之後，沒有義務在任何時候向任何用戶傳達渠道發佈的任何資料。
</li>
</ol>
</li>

<li>
<u>免責聲明</u>
<ol class="list-decimals-none">
<li style="text-indent:0;margin-left: 5px;">本公司不會控制及不能確保通過渠道上進入的第三方網站和/或媒體平臺和/或應用程式發佈的任何內容之真實和準確性。
<br><br>
本公司概不負責因超出其合理控制範圍的事件（包括但不限於網路系統預設或故障）可能引致的任何直接或間接的損失。
<br><br>
本公司不能保證用戶可不間斷的、 連續的和/或安全地通過渠道使用服務。部分或全部渠道可能於某時段內沒有原因意外地不能接達，這些原因包括但不限於可能是系統故障及中斷，互聯網接達故障及其他本公司無法控制的技術問題，對此本公司概不負責。本公司保留因不同的原因，包括系統維修或提升而將渠道的任何部分或全部離線而不需作出通知的權利。
<br>
<br>
在任何情況下，本公司，其執行官，董事，雇員，代理，合作商，代表，股東，服務員，律師，前任或繼任人員任絕不需因 (i) 用戶使用或無法使用渠道的內容或服務，包括因疏忽，或因各方的分歧;（ii） 用戶使用任何廣告商或商家提供的服務或產品 ;（iii） 任何廣告商或商家行為，提供的服務或政策，而直接或間接引起或造成的任何損失、 索賠或損害賠償（包括但不限於直接、 間接、 偶然、 特殊、 懲罰性或相應的損害賠償，業務或利潤損失）負任何責任。
<br><br>
本公司並不是任何僱傭中心、 廣告商或商家的代理。
</li>
</ol>
</li>

<li>
<u>責任範圍 </u>
<ol class="list-decimals-none">
<li style="text-indent:0;margin-left: 5px;"> 在不影響上文及符合適用法律的基礎上，本公司對任何用戶因使用服務和渠道提出所有索賠的整體責任上限為港幣100元。 </li>
</ol>
</li>

<li>
<u>安全措施</u>
<ol class="list-decimals-none">
<li style="text-indent:0;margin-left: 5px;"> 本公司將盡其合理努力，確保其執行官，董事，雇員，代理或承包商審慎細緻地處理用戶提交的個人資料，確保接觸和處理個人資料的人是基於“需要瞭解”和“需要使用”的基礎上。本公司將努力保護個人資料免受非授權接觸、處理和刪除。有關本公司如何使用和保障用戶通過渠道上提供的個人資料，請參閱<a href="privacy-policy">私隱政策</a>。 </li>
</ol>
</li>

<li>
<u>可分割性</u>
<ol class="list-decimals-none">
<li style="text-indent:0;margin-left: 5px;">條款和細則每一條款獨立於其他條款，當條款和細則的任何條文已屬或變成違法、無效或不可執行時，其他條款的有效性不受影響。並以現行使用法律下的一個或多個合法、有效和可行條例加以替換。</li>
</ol>
</li>

<li>
<u>矛盾</u>
<ol class="list-decimals-none">
<li style="text-indent:0;margin-left: 5px;"> 如果(1)條款和細則與實際應用中之平臺及應用程式之條款與 (2)本公司與用戶簽署的服務合同之條款相衝突，以後者之條款為准。</li>
</ol>
</li>

<li>
<u>適用法律和爭議處理</u>
<ol class="list-decimals-none">
<li style="text-indent:0;margin-left: 5px;">除非另有其他規定，如因此條款和細則或任何因使用渠道而產生的爭議均由中華人民共和國香港特別行政區（以下簡稱"香港"）的法律詮釋及約束。
<br>
<br> 任何由條款和細則（包括有效、無效，違反協議或終止條款）引起的爭議、分歧或索賠應根據截至目前生效的《貿易法委員會仲裁規則》並通過此條款其餘條文修正而仲裁解決︰
<ol class="list-alpha ">
<li> 指派機關應為香港國際仲裁中心 （以下簡稱"仲裁中心"）; 或由本公司在任何國家中(以其唯一和絕對酌情權)任命其認為適合和適當的指派機關。任何用戶明白及同意如與本公司發生糾紛，本公司對指派機關的選擇和任命有最終決定權。 </li>
<li>仲裁地點應設在香港的仲裁中心; 或者是在任何國家中由本公司以其唯一和絕對酌情權以任命其認為適合和適當的仲裁機構。任何用戶明白及同意如與本公司發生糾紛，本公司對仲裁機構和地點的選擇有最終決定權。 </li>
<li> 須只有一名仲裁員。 </li>
<li> 在仲裁過程中使用的語言為廣東話。 </li>
</ol>
</li>
</ol>
<p style="text-indent:0;margin-left: 5px;">如任何一方違反此條款和細則，另一方有權根據仲裁認定的普通法和衡平法採取補救措施。</p>
</li>
<li>
<u>查詢</u>
<ol class="list-decimals-none">
<li style="text-indent:0;margin-left: 5px;">如有任何疑問，請點擊 <a href="contact-us">此處</a> 與我們的客戶服務專員聯絡。</li>
</ol>
</li>
</ol>
<br>
</div>
                    </div>
                    
                </div>
            </div>
			
			
        </div>
        <!--End Page wrap-->

        <!--Start Footer-->
        <footer class="tz-footer">
            <div class="container footer-content">
                <div class="row">

                    <!--Footer one-->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget_menu">
                            <h4 class="widget_title">女傭中心 (1058間)</h4>
                            <ul>
                                <li>
                                    <a href="search.php">搜尋</a>
                                </li>
								<li>
                                    <a href="search.php">最熱門</a>
                                </li>
								<li>
                                    <a href="search.php?filter_sort=top-mark">最高評分</a>
                                </li>
								<li>
                                    <a href="search.php?filter_sort=top-favourited">最多收藏</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <!--End Footer one-->
					
					<div class="col-md-3 col-sm-6">
                        <div class="widget widget_menu">
                            <h4 class="widget_title">外傭黑名單</h4>
                            <ul>
								<li>
                                    <a href="blacklist.php">新增</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>

                    <!--Footer Two-->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget_menu">
                            <h4 class="widget_title">手續費情報</h4>
                            <ul>
                                <li>
                                    <a href="search.php?view=印傭海外">海外 印傭</a>
                                </li>
<li>
                                    <a href="search.php?view=菲傭海外">海外 菲傭</a>
                                </li>
<li>
                                    <a href="search.php?view=印傭完約">完約 印傭</a>
                                </li>
<li>
                                    <a href="search.php?view=菲傭完約">完約 菲傭</a>
                                </li>
<li>
                                    <a href="search.php?view=印傭續約">續約 印傭</a>
                                </li>
<li>
                                    <a href="search.php?view=菲傭續約">續約 菲傭</a>
                                </li>
								
                                
                            </ul>
                        </div>
                    </div>
                    <!--End Footer two-->

                    <!--Footer Three-->
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget_menu">
                            <h4 class="widget_title">更多</h4>
                            <ul>
                                <li>
                                    <a href="contact.php">聯絡我們</a>
                                </li>
<li>
                                    <a href="terms.php">條款及細則</a>
                                </li>
<li>
                                    <a href="privacy.php">私隱政策</a>
                                </li>

<li>
                                    <a href="holiday_2019.php">2019年外傭假期</a>
                                </li>
<li>
                                    <a href="holiday_2020.php">2020年外傭假期</a>
                                </li>								
                                
                            </ul>
                        </div>
                    </div>
                    <!--End Footer three-->

                    <!--Footer four-->
                    
                    <!--End Footer four-->

                </div>
            </div>

            <div class="tz-copyright">
                <div class="container">
                    <p class="pull-left copyright-content">ECSearch 搵傭易 &copy; 版權所有 不得轉載</p>
                    <ul class="pull-right footer-social">
                        <li>
                            <a href="https://www.facebook.com/ecsearch.hk" target="_blank"><i  class="fa fa-facebook-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
			
        </footer>        <!--End Footer-->

    </div>

    <div class="container" style="text-align: center;margin-bottom: 10px;">ECSearch搜羅全香港中介公司及外傭的資料、用家對於中介公司提供服務、菲傭及印傭的評語及推薦</div>
	
	<div class="container" style="font-size:12px;">重要聲明：本討論區是以即時上載留言的方式運作，ECSearch 搵傭易對所有留言的真實性、完整性及立場等，不負任何法律責任。而一切留言之言論只代表留言者個人意 見，並非本網站之立場，讀者及用戶不應信賴內容，並應自行判斷內容之真實性。於有關情形下，讀者及用戶應尋求專業意見(如涉及醫療、法律或投資等問題)。 由於本討論區受到「即時上載留言」運作方式所規限，故不能完全監察所有留言，若讀者及用戶發現有留言出現問題，請聯絡我們。ECSearch 搵傭易有權刪除任何留言及拒絕任何人士上載留言 (刪除前或不會作事先警告及通知 )， 同時亦有不刪除留言的權利，如有任何爭議，管理員擁有最終的詮釋權 。本網站歡迎所有用戶提供任何資料證明評論真確情，用戶如對留言有爭議，本網站管理員有可能向用戶索取有關資料，所有提供至本網站之資料皆會保密。用戶切勿撰寫粗言穢語、誹謗、渲染色情暴力或人身攻擊的言論，敬請自律。本網站保留一切法律權利。</div>	
	<div id="userMenu" style="display:none;">
		<ul>
			<li onclick="window.location.href='search.php?filter_favourited=1'">已收藏</li>
			<li onclick="window.location.href='profile.php?view=comment'">我的評語</li>
			<li onclick="window.location.href='profile.php'">設定</li>
			<li onclick="javascript:Logout();">登出</li>
		</ul>
	</div>
<div id="agencyMenu" style="display:none;">
		<ul>
			<li onclick="window.location.href='agency_profile.php'">設定</li>
			<li onclick="javascript:Logout();">登出</li>
		</ul>
	</div>
	<div class="hide" style="display:none;">
<fb:login-button scope="public_profile,email" onlogin="checkFbLoginState();"></fb:login-button>
</div>
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="login" class="login-popup" align="center">
<div id="login-result"><form action=""></form></div>
<a onclick="javascript:FbLogin();">
<div class="login-box facebook-box column">
<div class="fa fa-facebook login-icon"></div>
<div class="flex-1">以Facebook帳戶登入</div>
</div>
</a>
<!--<form id="login-form" method="post" novalidate="novalidate">
<div class="or"><span>或</span></div>
<div><input type="text" id="login-email" placeholder="電郵地址" required="" aria-required="true"></div>
<div><input type="password" id="login-password" placeholder="密碼" required="" aria-required="true"></div>
<div id="login-message"></div>
<a onclick="if (!window.__cfRLUnblockHandlers) return false; javascript:emailLogin()"><div id="login-btn" class="btn btn-primary">登入</div></a>
</form>
<div class="forget_pwd"><span class="text-dark-red"><a id="test" href="#forget-pwd" class="open-popup-link">忘記密碼?</a></span></div>-->
<div class="or margin-top-bottom-5"></div>
<div class="forget_pwd">未有帳戶嗎？<span class="btn-signup text-dark-red"> <a href="#" class="open-popup-link">立即登記</a></span></div>
</div>
      <!--<div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default">Login</button>
      </div>-->
    </div>
  </div>
</div>
	<div class="modal fade" id="modalSignForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="signup" class="login-popup" align="center">
<a onclick="javascript:FbLogin();">
<div class="login-box facebook-box column">
<div class="fa fa-facebook login-icon"></div>
<div class="flex-1">以Facebook帳戶登入</div>
</div>
</a>
<!--<div class="or"><span>或</span></div>
<form id="signup-form" method="post" novalidate="novalidate">
<div>以電郵登記</div>
<div><input type="email" id="email" name="email" placeholder="電郵地址" required="" aria-required="true"></div>
<div><input type="text" id="nick_name" name="nick_name" placeholder="用戶名稱" required="" aria-required="true"></div>
<div class="column">
<div class="flex-1">
<select id="birth_year" name="birth_year">
<option value="" disabled="" selected="">出生年份</option>
<option value="1959 or below">1959或之前</option>
<option value="1960 - 1965">1960 - 1965</option><option value="1965 - 1970">1965 - 1970</option><option value="1970 - 1975">1970 - 1975</option><option value="1975 - 1980">1975 - 1980</option><option value="1980 - 1985">1980 - 1985</option><option value="1985 - 1990">1985 - 1990</option><option value="1990 - 1995">1990 - 1995</option><option value="1995 - 2000">1995 - 2000</option><option value="2000 - 2005">2000 - 2005</option><option value="2005 - 2010">2005 - 2010</option><option value="2010 - 2015">2010 - 2015</option><option value="2015 - 2020">2015 - 2020</option> </select>
</div>
<div class="flex-1 gender">
<select id="gender" name="gender">
<option value="" disabled="" selected="">稱謂</option>
<option value="Male">先生</option>
<option value="Female">小姐</option>
</select>
</div>
</div>
<div><input type="password" id="password" name="password" placeholder="密碼" required="" aria-required="true"></div>
<div><input type="password" id="confirmed_password" name="confirmed_password" placeholder="確認密碼" required="" aria-required="true"></div>
<div class="district-more content padding-bottom-8"><input name="promo_email" id="promo_email" type="checkbox" value="1"><label for="promo_email">請將精彩優惠、僱傭資訊電郵給我</label></div>
<div id="register-btn" class="btn btn-primary" onclick="email_signUp()">立即註冊</div>
</form>-->
<div class="content">註冊即表示你接受<a href="/terms">條款及細則</a>和<a href="/privacy-policy">私隱政策</a></div>
<!--<div class="or margin-top-bottom-5"></div>
<div class="content text-center">已有帳戶？<span class="btn-signup text-dark-red"> <a href="#login" class="open-popup-link">登入</a></span></div>-->
		  <form id="signup-form" method="post" novalidate="novalidate">
		  <div class="district-more content" style="float:none;padding-top:15px;display:inline-block;width:auto"><input name="promo_email" id="promo_email" type="checkbox" value="1" checked><label for="promo_email" style="font-size:12px;">是，請通知我ECsearch 上的優惠，最新資訊等等。我隨時都可以取消訂閱。<br>
Yes, please notify me any promotions or latest information etc. I can unsubscribe anytime. 
</label><div style="clear:both"></div></div>
			  
		  </form>
</div>
      <!--<div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default">Login</button>
      </div>-->
		
    </div>
  </div>
</div>	
    <script src="static/js/jquery.min.js" type="text/javascript"></script>
    <script src="static/js/jasny-bootstrap.min.js" type="text/javascript"></script>
	<script src="static/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="static/js/jquery.validate.min.js" type="text/javascript"></script>
	<script src="static/js/additional-methods.min.js" type="text/javascript"></script>
	<script src="static/js/messages_zh_tw.js" type="text/javascript"></script>
	<link rel="stylesheet" href="static/css/font-awesome.min_1.css">
    <script src="static/js/theia-sticky-sidebar.js"></script>
    <script src="static/js/off-canvas.js"></script>
    <script src="static/js/owl.carousel.js"></script>
    <script src="static/js/custom.js"></script>
	<script>		
		var contact = $("#contact-form");
		  
		  //login.validate();
		function contact_submit() { 
			
		  if (contact.valid()) {
			  //$('#modalSignForm').modal('toggle');
			var divID = "#contact-btn";
			var string = $(divID).html();
			var formData = new FormData($("#contact-form")[0]);
			  
			$(divID).attr("disabled", true).off('click').html('<img src="static/picture/loading2.gif" width="30">');	
			setTimeout(function(){	  
				$.ajax({
				   url: "includes/scripts/contact_submit.php",
				   type: "POST",
				   data: formData,
				   cache: false,
				   contentType: false,
				   processData: false,
				   success: function(data){	
					  //$('#modalSignForm').modal('toggle');
					  //alert(data);
					  $(divID).html(string).attr("disabled", false).on('click',{});	
					  //alert(data);
					  $('#name').val('');
					  $('#email').val('');
					  $('#subject').val('');
					  $('#comment').val('');
					  alert("查詢已送出");
				   }	
				});				   
			}, 500);     			  
		  } 
	  }		
		
	</script>
	<script src="static/js/jquery-ui.js"></script>
<script>
	$("#search-agency").autocomplete({
		  minLength: 1,
		  source: function (request, response) {
			$.ajax({
				type: "POST",
				url: "includes/scripts/autocomplete_agency.php",
				data: { "term": $("#search-agency").val() },
				success: response,
				dataType: 'json'
			});  
		  }  
	  }); 
	$("#search-agency-mobile").autocomplete({
		  minLength: 1,
		  source: function (request, response) {
			$.ajax({
				type: "POST",
				url: "includes/scripts/autocomplete_agency.php",
				data: { "term": $("#search-agency-mobile").val() },
				success: response,
				dataType: 'json'
			});  
		  }  
	  }); 
	
</script>
<script type="text/javascript" src="static/js/slick.min.js"></script>
	<script>
		
		$(document).ready(function(){
		  $('.top-banner').slick({
		  	infinite: true,
			  slidesToShow: 1,
			  slidesToScroll: 1,
			  dots: false,
			  arrows: false,
			  speed: 300,
			  autoplay: true,
  			  autoplaySpeed: 5000,
		  });
		$('.top_banner').slick({
		  	infinite: true,
			  slidesToShow: 1,
			  slidesToScroll: 1,
			  dots: false,
			  arrows: false,
			  speed: 300,
			  autoplay: true,
  			  autoplaySpeed: 5000,
		  });	
			
		});
	</script>
	<script src="static/js/login.js"></script>

</body>
</html>